<div data-ng-repeat="user in  $root.UserData" class="container userDisplay">
    <center>
        <h3><u>Update your Hobby</u></h3></center>
    <div class="container">
        <div class="row">
            <form role="form" name="personalInfoForm">
                <div class="col-lg-6">
                    <div class="well well-sm">
                        <strong style="color:black">
                The required fields are marked with the <span class="asterisk"> * </span> sign.
                </strong>
                    </div>
                    <!--Email address field-->
                    <div class="form-group">
                        <label for="InputEmail">Email:</label>
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" name="InputEmail" ng-model="user.email" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Experience:</label>
                        <div class="input-group">
                            <input type="experience" name="experience" class="form-control" name="experience" ng-model="user.description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Available Days:</label>
                        <div class="input-group">
                            <input type="Days" name="Days" class="form-control" name="Days" ng-model="user.availableDays">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Charge:</label>
                        <div class="input-group">
                            <input type="Charge" name="Charge" class="form-control" name="Charge" ng-model="user.charge">
                        </div>
                    </div>
                    <a type="button" class="btn btn-success" href="#home" ng-disabled="personalInfoForm.$invalid" ng-click="update(user)">
						Update Add
                </a>
                </div>
            </form>
        </div>
    </div>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-78063699-1', 'auto');
        ga('send', 'pageview');
    </script>