
<div id="myredbox-helpoverlay">
    <div class="left">
        <div class="welcome title1">Welcome to your My Redbox Dashboard!</div>
        <div>My Redbox is based solely on your activity. To get started, simply bookmark, rent or watch something.</div>
    </div>
    <div class="right">
        <div>
            <div class="title2">HEADS UP!</div>
            Know at a glance what you need to finish watching, such as instant rentals that are expiring, and what discs you have at home from a Redbox kiosk.
        </div>
        <div>
            <div class="title2">WATCH HISTORY</div>
            Find recently watched titles here.
        </div>
        <div>
            <div class="title2">BOOKMARKS</div>
            Save titles that you want to watch later by adding a bookmark, and then find them here when you are ready to watch them.
        </div>
        <div>
            <div class="title2">PURCHASES</div>
            View all the titles you've bought from Redbox Instant by Verizon here.
        </div>
    </div>
    <div class="clear">
    </div>

</div>