/* <!--created by priti mondal date:15/4/2016--> */
.displayDiv{
    float: left;
    padding: 1em;
    position: relative;
    font-size: 1em;
    width: 100%;
    margin-left: 5px;
}
.displayDiv:click{
        background-color:  #DA291C;
        color: white;
}
.displayDiv:hover{
        background-color:  #DA291C;
        color: white;
}
.displayOutList{
    height: 100%;
    margin-left: 5%;
    float: left;
}
.dropdown-menu {
    color: white;
    background-color:  #DA291C ;
    padding-left: 5px;
    width: 10px;
}
.diplayContent{
    width: 10px;
}
.displayContent:hover {
   background-color: white;
}
.decoration{
    text-decoration: none;
    color: white;
}
  #cartCollapse{
        display: none;
   
}
.decoration:hover{
    text-decoration: none;
    color: #DA291C;
}
.position{
    position: fixed;
    z-index: 1000;
    width: 100%;
}
@media (max-width:768px){
.headerShow{
    
    background-color: #DA291C;
    font-family: sans-serif;
    font-size: 40%;
    color: white;
}
   #cartCollapse{
        display: block;
       float: right;
       padding-right: 5px;
   }
    .cart1{
        display: none;
    }
    .decoration{
    text-decoration: none;
    color: #DA291C;
}
   
}
.paddingSize{
   float: left;
    margin-right: 5px;
}
#cart2 {
    margin-top:50px;
}
.indexPlace{
    position: absolute;
    z-index: 100;
    padding-left: 20px;
    padding-top: 5px;
    font-weight:1500;
    font-size: 15px;
}
@media (min-width: 768px){
    .displayRogersDiv {
            position: relative;
            margin-left:0px;
            border-radius: 0 0 10px 10px;
            background-position: center;
            width: 10.56em;
            height: 3.2em;
            font-size: 1.28em;
            padding: 0;
            text-indent: -9999px;
            display: block;
            background-color: #DA291C;
            background-size: 8.33em auto;
            content:url("../images/rogers.png");
    }
    .dropdown:hover .dropdown-menu {
    display: block!important;
    margin-top: 0;    
}
.displayDiv:hover{
        background-color:  white;
        color: red;
        border-bottom: 1px solid red;
        box-sizing: border-box;
}
.navbar-nav #cart{
padding-top: 0px;
padding-bottom: 0px;
}
}
@media (min-width: 768px){
   .container-fluid{
    font-size: 0.6em;
} 
}

@media (min-width: 992px){
    .container-fluid{
        font-size: 0.8em;
    }
}
@media (min-width: 1150px){
   .container-fluid{
        font-size: 1em;
    }
}