.sel-menu{
	width:42px;
}
body{
	letter-spacing: -1.2px;
	font-family:Helvetica, Arial, sans-serif !important;
}

div#title-detail .preview-button-wrapper{
	width:150px !important;
}
div#title-detail .middle-content .desc-text .body-text-gray-badge{
	font-size:13px;
}
div#title-detail .middle-content .desc-text .badge-container .icn1{
	width:50%;
}
div#title-detail .middle-content .desc-text .badge-container .icn2{
	width:49%;
}
div#title-detail .preview-button-wrapper span{
	margin-top:12px;
}
div#eula ::-webkit-scrollbar-thumb, .pop-up ::-webkit-scrollbar-thumb{
	background:#666;
}
div#eula #btn-accept-img, .pop-up .btn-accept-img{
	width:36px;
	background: url(../images/sprite-icons.png) no-repeat -857px -194px;
}
#rbi-privacy-policy .triangle-btn{
 width:260px;
 text-align:left;
 padding-left:5px;
}
.search-container .search_gridItem{
	border: 5px solid #191b1c;
}
div#preferences .purchase-text-tick{
	left:0px;
}
#keyboard-button .ui-keyboard-preview-wrapper input{
	margin:0;
}
div#title-detail .bookmark-button-wrapper, div#title-detail .back-button-wrapper, 
div#title-detail .preview-button-wrapper, div#title-detail .rating-button-wrapper, .err-popup-btns .back-button-wrapper, .popup-error-btn-1-wraper{
 border:4px solid transparent;
 padding:2px 10px;
 border-radius:25px;
}
 .err-popup-btns .back-button-wrapper{
	padding:5px 12px 5px 10px;
 }
div#title-detail .bookmark-button-wrapper-highlight, div#browse #popup-container .wrapper .back-button-wrapper-highlight, 
div#title-detail .preview-button-wrapper-highlight, div#title-detail .rating-button-wrapper-highlight, #main-menu-return .back-button-wrapper-highlight,
#main-menu-return .menu-button-wrapper-highlight,div#browse .right-btm .category-wrapper-highlight,.filter-wrapper-highlight,.popup-ok-button-highlight,
.popup-back-button-highlight,.wh-options-menu-highlight,.wh-whoption-menu-highlight, .bk-btn-highlight ,
.watcNow_btn-highlight,.rht-btn-highlight,.wh-help_hover_div-highlight, .err-popup-btns .back-button-wrapper-highlight, 
.yes-btn-wrapper-highlight, .no-btn-wrapper-highlight, .logout-button-account-highlight{
 border:4px solid #fff;
 border-radius:25px;
}
div#title-detail .preview-button-wrapper{
	line-height: 35px;
}
div#title-detail .rating-button-wrapper{
	width:185px;
	text-align:left;
	line-height: 30px;
}
div#title-detail .bookmark-button-wrapper{
	left:777px;
	width:185px;
	line-height: 30px;
}
div#title-detail .preview-button-wrapper span{
	margin-right:0;
}
.play-icon{
	width:28px;
}
.rightButton{
	height:33px;
	margin-top:6px;
}
#menu-button-wrapper{
	width:138px;
	line-height: 25px;
}
.cancel-small{
	background-position: -809px -202px;
}
.exit .cancel-small{
	background-position: -1123px -269px;
	width: 42px;
 	height:30px;
 	float:left;
}

.help-image {
	position: relative;
	top: 70px;
	background: url('../images/help-image.png') no-repeat 0 0;
	background-size: contain;
	width: 100%;
	height: 100%;
	max-width: 88.5%;
	left: 73px;
}
div#login .inner-container .left-clm .form-content form .input-wrapper input, 
.form-container input, div#add-card .inner-container input, 
.form-container input, div#add-card .select-box select{
	letter-spacing: -1.2px;
}
#pwpopup  .ui-widget-content, #pwpopup input{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939598), color-stop(100%,#bcbec0));
	background: -webkit-linear-gradient(top, #939598 0%,#bcbec0 100%);
	outline: none;
	border: 3px solid #75777a;
	color: #58595b;
	font: bold 22px Helvetica, Arial, sans-serif;
}
.verify-check input[type="checkbox"]:checked:hover, .check-cont input[type="checkbox"]:checked:hover{
	background: url('../images/sprite-icons.png') no-repeat -1410px -181px !important;
}
.verify-check input[type="checkbox"]:hover,.check-cont input[type="checkbox"]:hover{
	background: url('../images/sprite-icons.png') no-repeat -1034px -160px;
	width:48px;
	height:48px;
	outline:none;
	margin-top:-7px;
	margin-left:-23px;
}
#splayer-button-div{
	display:block;
}
#player-button-div{
	display:none;
}
.synop div#content_text {
	height:170px;
}
div#account-top-nav-bar .top-nav-ul .nav-li:hover, .account-top-nav-bar-highlight-selected, .pref-restrict-item-highlight, .pref-restrict-item-hover, .pref-restrict-item-select-highlight, .pref-restrict-item-select-hover, div#account-top-nav-bar .top-nav-ul .nav-li-highlight{
	margin-top:-6px;
}
.wh-img-div #expiredBanner{
	color:#f1f1f1;
	font:normal 13px/21px Helvetica, Arial, sans-serif;
}
div.titledetail-tooltip-container .tooltip-li .titledetail-buttonContainer  .back-button-wrapper {
	border:0 !important;
	padding:0 !important;
	
}
div#eula ::-webkit-scrollbar-thumb, .pop-up ::-webkit-scrollbar-thumb , div#reviews .reviews-wrapper::-webkit-scrollbar-thumb{
    background:#666;
}
div#reviews .reviews-wrapper::-webkit-scrollbar {
    width: 10px;
}
.drop-down-ctn ol li .ng-binding, .drop-up-ctn ol li .ng-binding{
	padding-right:0;
}
.drop-down-ctn ol li, .drop-up-ctn ol li{
	font-size:19px;
}
.drop-down-ctn .popupdropdown, .drop-up-ctn .popupdropdown{
	width:89%;
}

div#collection-page #grid {
    width:100%;
    float:left;
    position:absolute;
    top: 253px;
    margin-left:35px;
}
#watch-history .watch-history-content div .wh-img-accept{
	background-position: -1074px -275px;
	width:36px;
}
#rbi-privacy-policy .control-triangle {
	position: absolute;
	bottom: 6px;
	left: 260px;
}
.preview-btn{
	background-position: -935px -167px;
    width: 22px;
    height: 14px;
    float: left;
}
.logout-button-account, #rbi-privacy-policy{
	bottom:16px;
}
.search-container .left-content .search-div .search-text-box input{
	font:normal 19px/28px Helvetica, Arial, sans-serif;
}
.game-layout{ margin-left:-13%;}
.game-layout-filter{ margin-left:0;}
div#account-top-nav-bar .top-nav-wrapper {
  margin: 0px 27%;
  width: 900px;
}
.logout-acc-text{
 margin-right:20px;
}
#rbi-privacy-policy{
	width:290px;
	text-align:left;
}
div#account-top-nav-bar .top-nav-ul .nav-li-highlight{
	text-shadow: 0px 0px 9px rgba(255,255,255, 0.6)
}
div#account-top-nav-bar{
	font:normal 24px 'VAG Round', Helvetica, Arial, sans-serif;
}