body {
	width: 1280px;
	height: 720px;
	text-align: center;
	font:normal 18px Helvetica, Arial, sans-serif;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	background-image: none !important;
}
.body-bg{
	background-image: none !important;
}
.body-bg-strip{
	background-image: none !important;
}

/* override defaults */
div#player .title-div {
    font-weight: normal;
    text-align: left;
    left: 50px;
    width: 320px;
    top: 100px;   /* aligned with player buttons */
}

/*Samsung specific UI*/
div#player .bottom-container {
    top: 551px;
}
#splayer-button-div{
	width:95%;
	margin:0 auto;
	position:absolute;
	bottom:0;
}
.right-controls{
	float:right;
	margin-top:5px;
	width:auto;
}
.right-controls.end-of-movie{
    min-width:230px;
    margin-top:100px;
}
.qmenu{
	display:none;
}

.play-icons{
	float:left;
	background:url('../images/player-sprite.png') no-repeat 0 0;
}
.close-info{
    display: inline-block;
	width:129px;
	height:48px;
	background-position:-6px -58px;
}
.close-info-highlight, .close-info:hover{
    display: inline-block;
	width:129px;
	height:48px;
	background-position:-6px -5px;
}
.close-scenes{
	width:157px;
	height:48px;
	background-position:-141px -58px;
}
.close-scenes-highlight, .close-scenes:hover{
	width:157px;
	height:48px;
	background-position:-141px -4px;
}
.info{
    display: inline-block;
	width:104px;
	height:48px;
	background-position:-303px -58px;
}
.info-highlight, .info:hover{
    display: inline-block;
	width:104px;
	height:48px;
	background-position:-303px -5px;
}
.scenes{
	width:114px;
	height:48px;
	background-position:-409px -58px;
}
.scenes-highlight, .scenes:hover{
	width:114px;
	height:48px;
	background-position:-409px -5px;
}

.forward-btn{
	width:74px;
	height:68px;
	background-position:-647px -1px;
}
.forward-btn-highlight{
	width:74px;
	height:68px;
	background-position:-647px -88px;
}
.backward-btn{
	width:74px;
	height:68px;
	background-position:-1089px -1px;
}
.backward-btn-highlight{
	width:74px;
	height:68px;
	background-position:-1089px -88px;
}
.pause-btn{
	width:74px;
	height:68px;
	background-position:-718px -1px;
}
.pause-btn-highlight{
	width:74px;
	height:68px;
	background-position:-718px -88px;
}
.play-btn{
	width:74px;
	height:68px;
	background-position:-793px -1px;
}
.play-btn-highlight{
	width:74px;
	height:68px;
	background-position:-793px -88px;
}
.skip-backward-btn{
	width:74px;
	height:68px;
	background-position:-864px -1px;
}
.skip-backward-btn-highlight{
	width:74px;
	height:68px;
	background-position:-864px -88px;
}
.skip-farward-btn{
	width:74px;
	height:68px;
	background-position:-939px -1px;
}
.skip-farward-btn-highlight{
	width:74px;
	height:68px;
	background-position:-939px -88px;
}
.stop-btn{
	width:74px;
	height:68px;
	background-position:-1014px -1px;
}
.stop-btn-highlight{
	width:74px;
	height:68px;
	background-position:-1014px -88px;
}
#splayer-button-div .controls {
	margin: 0 auto;
	width: 450px;
	clear: both;
	position: relative;
	top: -10px;
}
#player .title-progress-status-bar {
	margin-left:-10px;
}
#cc-button{
	 display: block;
	 margin-top: 14px;
	 float: left;
	 width: 61px;
}
#cc-button .cc-icon,#cc-button .cc-blue-icon{
 	margin-top:5px;
}
.back-button-player{
    display: inline-block;
    width: 90px;
    height: 40px;
    padding-top: 10px;
    color: #999;
    font: bold 16px/31px Helvetica, Arial, sans-serif;
    border: 4px solid transparent;
    border-radius: 25px;
}
.back-button-player-highlight{
    border: 4px solid white !important;
}
div#player .title5{
	margin-top:100px;
	line-height:22px;
	float:left;
	width:40%;
}
div#player .title-progress-status-bar{
	top:603px;
}
div#player #chapter-bar,div#player #info-bar{
	top:433px;
}
div#player #chapter-list-container{
	top:0;
}