<div id="title-detail-checkout" rbimousewheel ng-cloak rbikeyevent="" class="checkout-page kiosk-checkout">
    <div id="selected-kiosk-wrapper">
        <div id="selected-kiosk">
        </div>
        <div id="selected-kiosk-text">
            <div id="selected-kiosk-text1">
                {{kioskName}}</div>
            <div id="selected-kiosk-text2">
                {{kioskAddressLine1}} {{kioskAddressLine2}}</div>
        </div>
    </div>
    <!--<div ng-controller="titleCheckoutCtrl">-->
     <div class="checkout-filter-popup">
        <div class="inner-container">
           <div class="title1">
                Reserve At the Box</div>
            <div id="content_text" class="wh-pu-text">
                <div class="content-block">
                    <div class="content-block-left kiosk-movies-cart">
                        <ul>
                            <li id="{{$index}}" ng-repeat="cartItem in cartItems">
                                <img src="{{cartItem.image}}" onerror="this.src='images/default-poster.png';" />
                                <p>{{cartItem.getFormat()}}<br>{{cartItem.getPricing().getPrice()|currency}}
                                    first day<br>{{cartItem.getPricing().getExtraPrice()|currency}} extra day</p>
                            </li>
                            <li id="{{$index}}" ng-repeat="i in emptyCartItemsRange"><span class="empty-img"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="content-block-right">
                        <div class="title-btns">
                            <div id="kioskcheckout_1_0" class="lrg-button"
                                 ng-class="{'red':$root.kioskCheckOutCurrentIndex == 0 && $root.kioskCheckOutLevelIndex == 1,'gr':$root.kioskCheckOutCurrentIndex != 0 || $root.kioskCheckOutLevelIndex == 0}"
                                 ng-mouseover="eventHandler.kioskcheckoutMouseOver(1,0)"
                                 ng-click="eventHandler.kioskcheckoutClickEvent('kioskcheckout_1_0')">
                                Add More Movies
                            </div>
                            <div class="clearAll">&nbsp;</div>
                            <div id="kioskcheckout_1_1" class="lrg-button lrg-button-dropdown" ng-class="{'red':$root.kioskCheckOutCurrentIndex == 1,'gr':$root.kioskCheckOutCurrentIndex != 1,'focused': $root.kioskCheckOutCurrentIndex == 1}" ng-mouseover="eventHandler.kioskcheckoutMouseOver(1,1)" ng-click="eventHandler.kioskcheckoutClickEvent()">
                                REMOVE TITLE
                                <span class="icons dwn-arrow"></span>
                            </div>
                            <div class="clearAll">&nbsp;</div>
                                <div ng-show="$root.kioskAddTitlePopupVisible" class="lrg-button-dropdown-subnav down">
                                    <div class="down-arrow"></div>
                                    <div class="clearAll">&nbsp;</div>
                                    <div class="drp-up-ctnr">
                                        <div class="drp-up-list">
                                            <ol id="remove_title_ul">
                                                <li ng-repeat="cartItem in cartItems">
                                                    <div ng-click="removeTitle(cartItem)" id="remove_title_dropdown_{{$index}}" 
                                                         ng-switch on="scrollTitle($index==kioskRemoveTitleCurrentIndex,cartItem.productTitle)">
                                                            <marquee ng-switch-when="true" >
                                                                <div id="remove_title_dropdown_{{$index}}" class="scroll-text">{{cartItem.productTitle}}</div>
                                                            </marquee>
                                                            <div  id="remove_title_dropdown_{{$index}}" ng-mouseover="eventHandler.kioskcheckoutMouseOver(2,$index)" ng-class="{'menu-itemHighlight':(true)}" 
                                                                    ng-switch-default>{{cartItem.productTitle}}</div>
                                                        </div>
                                                   

                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="up-arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-block billing-information">
                    <div class="content-block-left">
                        <p ng-show="selectedCardAccount!=null">
                            Pick up with & bill to card ending in {{selectedCardAccount.getLastFour()}}</p>
                        <p ng-show="selectedCardAccount==null">
                            Add a credit card for pick up</p>
                        <div class="clearAll">&nbsp;</div>
                        <ul class="card-description-container">
                            <li id="checkout_card">
                                <img src="images/vod-card.png" />
                            </li>
                            <li class="select-box-container">
                                <div id="kioskcheckout_1_2" class="lrg-button lrg-button-dropdown" ng-class="{'red':$root.kioskCheckOutCurrentIndex == 2,'gr':$root.kioskCheckOutCurrentIndex != 2}" ng-mouseover="eventHandler.kioskcheckoutMouseOver(1,2)"  ng-click="eventHandler.kioskcheckoutClickEvent('1_2')">
                                    <span class="lrg-button-dropdown-title" ng-show="selectedCardAccount!=null">
                                        CHANGE CARD</span>
                                    <span class="lrg-button-dropdown-title" ng-show="selectedCardAccount==null">
                                        ADD CARD</span>
                                    <span class="icons dwn-arrow"></span>
                                </div>
                                <div class="clearAll">&nbsp;</div>
                                <div ng-show="$root.kioskChangeCardPopupVisible" class="lrg-button-dropdown-subnav up">
                                    <div class="drp-up-ctnr">
                                        <div class="drp-up-list" id="kioskcheckout_changecard_list">
                                            <ol id="kioskcheckout_changecard_ul">
                                                <li ng-show="canAddCards" class="add-title" id="kioskcheckout_changecard_0" ng-click="addCard();">Add Card
                                                </li>
                                                <li ng-repeat="card in cards" ng-show="cards.length>0">
                                                    <div ng-class="{'red':kioskChangeCardCurrentIndex==$index}" ng-click="eventHandler.kioskcheckoutClickEvent(card)" id="kioskcheckout_changecard_{{$index + 1}}">
                                                        Use Credit Card ending in {{card.getLastFour()}}
                                                    </div>
                                                </li>
                                                <li class="gift-card" id="kioskcheckout_changecard_{{cards.length+1}}" ng-click="setSelectedCardAccount('Gift')">
                                                    <div class="titledetail-buttonContainer">
                                                        <div class="back-button-wrapper">
                                                            Got a Redbox Gift Card?<span class="icons question-small">
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="clearAll">&nbsp;</div>
                        <p class="secure-text">
                            <span class="icons secure"></span>Secure Checkout</p>
                    </div>
                    <div class="content-block-right">
                        <div class="title4 no-border">
                            Total: {{cartPricing.getGrandTotal()|currency}}
                        </div>
                        <p>
                            ({{cartPricing.getDiscountedSubTotal()|currency}} + {{cartPricing.getTax()|currency}} tax)</p>
                        <div class="clearAll">&nbsp;</div>
                        <div class="check-cont">
                            <div ng-show="$root.showUseCreditChecked">
                                <input
                                        type="checkbox"
                                        ng-mouseover="eventHandler.kioskcheckoutMouseOver(1,3)"
                                        id="kioskcheckout_1_3"
                                        ng-model="$root.isUseCreditChecked"
                                        ng-class="{'red': $root.kioskCheckOutCurrentIndex == 3 , 'gr': $root.kioskCheckOutCurrentIndex != 3, 'focused':$root.kioskCheckOutCurrentIndex == 3}"
                                        ng-click="eventHandler.kioskcheckoutClickEvent('click')" />
                                <span class="checkbox-copy">
                                    Using {{totalCreditsUsed}} of {{totalAvailableCredits}} Credits</span>
                            </div>
                            <div ng-hide="$root.showUseCreditChecked">
                               {{creditmessage}}</div>
                        </div>
                    </div>
                </div>
                <div class="content-block reserve-button-container">
                    <div class="content-block-left">
                        &nbsp;
                        <div class="verify-check" ng-show="$root.showOver18Checkbox">
                            <input
                                    type="checkbox"
                                    ng-mouseover="eventHandler.kioskcheckoutMouseOver(0,0)"
                                    id="kioskcheckout_0_0"
                                    ng-click="over18Check();"
                                    ng-class="{'red': $root.kioskCheckOutCurrentIndex == 0 && $root.kioskCheckOutLevelIndex == 0, 'gr': $root.kioskCheckOutCurrentIndex != 0 || $root.kioskCheckOutLevelIndex != 0, 'focused':$root.kioskCheckOutCurrentIndex == 0 && $root.kioskCheckOutLevelIndex == 0}"
                                    ng-model="$root.isOver18Checked">
                            <label>{{$root.over18CheckboxMessage}}</label>
                        </div>
                    </div>
                    <div class="content-block-right action-buttons">
                        <div class="lrg-button" ng-click="eventHandler.kioskcheckoutClickEvent('kioskcheckout_1_4')" ng-class="{'gr':!$root.isOver18Checked || $root.kioskCheckOutCurrentIndex != 4,'red':$root.isOver18Checked && $root.kioskCheckOutCurrentIndex == 4}"  ng-mouseover="eventHandler.kioskcheckoutMouseOver(1,4)"  id="kioskcheckout_1_4">
                                RESERVE NOW
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gift-card-notification">
            Redbox Gift Cards are not currently supported on Redbox Instant. We apologize for any inconvenience
        </div>
        <div class="synop pop-up" ng-show="showkioskAbandonCheckout">
            <div class="pop-up-content-ctn">
                <div class="pop-up-content-bg">
                    <div class="title2">
                        Abandon Checkout
                    </div>
                    <div id="Div1" class="wh-pu-text">
                        <div class="alert-content">
                            <div class="title-2">
                                Are you sure you want to abandon your cart? You will lose all the titles you have
                                previously selected.
                            </div>
                        </div>
                    </div>
                    <div class='action-buttons'>
                        <div class="pop-up-btn-container">
                            <div class="btn-accept-ctn">
								<div id = 'Yes_1112' class="yes-btn-wrapper" ng-mouseover="eventHandler.kioskcheckoutMouseOver('Yes',1112)" ng-click="abandonCheckout()">
									<label>Yes</label>
									<button id="showkioskAbandonCheckout_OK" type="submit" name="btnAccept" value="Accept">
										<div class="icons close-small"></div>
									</button>
								</div>
                                <div id="No_1111"class="no-btn-wrapper" ng-mouseover="eventHandler.kioskcheckoutMouseOver('No',1111)" ng-click="showKioskConfirmCheckout = true;showkioskAbandonCheckout=false">
                                    <label>No</label>
                                    <button id="Button5" type="submit" name="btnAccept" value="Accept">
                                        <div class="icons cancel-small"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="synop pop-up" id="giftcard" ng-show="RedboxGiftCard">
            <div class="pop-up-content-ctn">
                <div class="pop-up-content-bg">
                    <div class="title2">
                        Got a Redbox Gift Card?<span class="icons question-small">
                    </div>
                    
                    <div id="Div1" class="wh-pu-text">
                        <div class="alert-content">
                            <div class="title-2">
                                Redbox Gift Cards are not currently supported on Redbox Instant. We apologize for any inconvenience. 
                                If you would like to use your Gift Card for disc transactions, you can go to Redbox.com or the Redbox mobile app.
                            </div>
                        </div>
                    </div>
                    <div class='action-buttons'>
                        <div class="pop-up-btn-container">
                            <div class="lrg-button red" ng-click="eventHandler.kioskcheckoutClickEvent('ok')" id='okRedboxGift'>
                                    OK
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            #menu-button-wrapper{display:none !important;}
        </style>
    </div>
</div>