<div id="title-detail-checkout" ng-cloak rbikeyevent="" class="checkout-page kiosk-checkout-success">
<div id="selected-kiosk-wrapper">
        <div id="selected-kiosk">
        </div>
        <div id="selected-kiosk-text">
            <div id="selected-kiosk-text1">
                {{kioskName}}</div>
            <div id="selected-kiosk-text2">
                 {{kioskAddressLine1}} {{kioskAddressLine2}}</div>
        </div>
    </div>
    <div class="checkout-filter-popup" class=".PopupColumnItemHighlight">
        <div class="inner-container">
            <div class="title1">
                Success! Your reservation is waiting for you!
            </div>
            <div class="clearAll">&nbsp;</div>
            <div class="content-block">
                <div class="content-block-left kiosk-movies-cart">
                    <ul>
                        <li id="{{$index}}" ng-repeat="cartItem in successCartItems">
                            <img src="{{cartItem.image}}" onerror="this.src='images/default-poster.png';" />
                            <p>{{cartItem.format}}<br>{{cartItem.price|currency}}
                                first day<br>{{cartItem.extraPrice|currency}} extra day</p>
                        </li>
                        <li id="{{$index}}" ng-repeat="i in emptyCartItemsRange"><span class="empty-img"></span>
                        </li>
                    </ul>
                </div>
                <div class="content-block-right">
                    <div id="selected-kiosk" class="kiosk-img-cnt">
                        <img src="images/redbox-image.png">
                    </div>
                    <div id="selected-kiosk-text">
                        <span id="selected-kiosk-text1">{{kioskName}}</span>
                        <p id="selected-kiosk-text2">
                            {{kioskAddressLine1}} {{kioskAddressLine2}}</p>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="content-block-left watch-anytime-container">
                    <span class="watch-it-anytime">
                        <img src="images/return.png" /></span>
                    <span class="download-to-device">
                        <img src="images/bring.png" /></span>
                </div>
                <div class="content-block-right watch-message-container">
                            <div ng-switch on="checkName">
                                <div ng-switch-when="false">
                                    To pick up your reservation at the box, bring your payment
                                    card which ends in {{lastFour}}.
                                    When you get to the box, touch the Reservation Pickup button 
                                    and swipe your card.To avoid charges for additional nights, please 
                                    pick up and return your disc(s) by 9:00 pm tomorrow.
                                </div>
                                <div ng-switch-default>
                                    <div class="watch-download-msg">
                                        Please bring card named {{accountAlias}} or card ending
                                        in {{lastFour}} to the box, touch the "Reservation Pickup"
                                        button and swipe. To avoid additional night charges, please pick up and return
                                        your disc(s) by 9:00 pm tomorrow.
                                    </div>
                                </div>
                            </div>
                            <div ng-switch on="saveAvailableCredits">
                                <div ng-switch-when="1">
                                    You have {{totalAvailableCredits}} credit remaining.
                                </div>
                                <div ng-switch-default>
                                    You have {{totalAvailableCredits}} credits remaining.
                                </div>
                            </div>
                </div>
            </div>
            <div class='action-buttons'>
                <div class="pop-up-btn-container">
                    <div class="title-btns">
                        <div class="lrg-button red" id="ReserveDisk_1" ng-click="onSuccessOk()">
                                OKAY
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #back-button-wrapper
        {
            display: none !important;
        }
        #menu-button-wrapper
        {
            display: none !important;
        }
    </style>
</div>
