<div id="title-detail-checkout" ng-cloak rbikeyevent="" class="checkout-page title-detail-checkout-success">
	<div class="checkout-filter-popup">
        <div class="inner-container">
            <div class="title1">
                {{successCheckOutUi.title}}</div>
            <div class="clearAll">&nbsp;</div>
            <div class="content-block">
                <div class="content-block-left">
                    <div class="title-img">
                        <img src="{{title.posterImage}}" onerror="this.src='images/default-poster.png';" />
                    </div>
                    <div class="title-ctnr">
                        <div class="title2">
                            {{title.titleName}}</div>
                        <div class="clearAll">&nbsp;</div>
                        <div class="sub-tags">
                            <div id="media-format-container" class="media-format-container" ng-repeat="ratingValue in title.ratingsJson">
                                <div id="rating" class="media-format-type borderclass">
                                             <span>{{ratingValue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearAll">&nbsp;</div>
                        <div class="grid-item-details">
                            <div class="{{title.ratingCss}} {{title.ratingCss}}-{{title.ratingValueStr}}">
                            </div>
                        </div>
                        <div class="clearAll">&nbsp;</div>
                    </div>
                </div>
                <div class="content-block-right kiosk-movies-cart">
                    <div ng-switch on="RecommendedProductsResponse">
                        <p ng-switch-when="">&nbsp;</p>
                        <p ng-switch-default>RELATED</p>
                    </div> 
                    <div class="clearAll">&nbsp;</div>
                    <ul>
                        <li class="title-img" ng-repeat="item in RecommendedProductsResponse | limitTo:4"
                             ng-class="{'focused':titlesuccessLevel[0].currentIndex == $index && currentSuccessLevel == 0}"
                             ng-mouseover="eventHandler.titleCheckoutSuccessMouseOver(0,$index)"
                             id="titleconfirmcheckout_0_{{$index}}"
                             ng-click="goToTitleDetail(item)">
                            <img id="imgid_{{$index}}" src="{{item.imageUrl}}" height="186px" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-block watch-any-time-container">
                <div class="content-block-left">
                    <div class="watch-it-anytime">
                        <img src="{{successCheckOutUi.legendImage1}}" />
                    </div>
                    <div class="download-to-device">
                        <img src="{{successCheckOutUi.legendImage2}}" />
                    </div>
                </div>
                <div class="content-block-right">
                    <div class="watch-download-msg">
                        {{successCheckOutUi.detail}}
                    </div>
                </div>
            </div>
            <div class='content-block action-buttons'>
                <div class="content-block-left">&nbsp;</div>
                <div class="content-block-right">
                    <div class="title-btns">
                        <div ng-class="{'lrg-button red':titlesuccessLevel[1].currentIndex == 0 && currentSuccessLevel == 1, 'lrg-button gr':titlesuccessLevel[1].currentIndex != 0 || currentSuccessLevel == 0}"
                             ng-mouseover="eventHandler.titleCheckoutSuccessMouseOver(1,0)"
                             ng-click="continueBrowsing()"
                             id="titleconfirmcheckout_1_0">
                            CONTINUE BROWSING
                        </div>
                        <div ng-class="{'lrg-button red':titlesuccessLevel[1].currentIndex == 1 && currentSuccessLevel == 1, 'lrg-button gr':titlesuccessLevel[1].currentIndex != 1 || currentSuccessLevel == 0}"
                             ng-mouseover="eventHandler.titleCheckoutSuccessMouseOver(1,1)"
                             ng-click="eventHandler.watchNowClick()"
                             id="titleconfirmcheckout_1_1">
                            WATCH NOW
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #back-button-wrapper{display:none !important;}
        #menu-button-wrapper{display:none !important;}
    </style>
</div>

