<div id="add-card-page" rbikeyevent>
    <div id='add-card'>
        <div class="inner-container">
            <div id="add-card-header-title" ng-switch on="isAdd">
				<div ng-switch-when="true">
					<div id="add-card-title" ng-hide="isFreeTrial" class="title1">Add credit card.</div>
					<div id="add-card-title" ng-show="isFreeTrial" class="title1">Ok, let's get you that first month free!</div>
					 <p id="P1" ng-hide="isFreeTrial">
					 We'll need your credit card information so you can conveniently rent or buy movies on demand with ease, since we'll save your info.
					</p>
					<p id="add-card-title-2" ng-show="isFreeTrial">
						We'll need your credit card info just to identify you at the box when you use your DVD credits. Don't worry, you won't be charged for a subscription yet. After all, the first month's on us!
					</p>
				</div>
            </div>
            <div id="modify-card-header-title" ng-switch on="isModify">
				<div ng-switch-when="true">
					<div id="modify-card-title" ng-hide="isFreeTrial" class="title1">Modify credit card.</div>
					<div id="modify-card-title" ng-show="isFreeTrial" class="title1">Ok, let's get you that first month free!</div>
					<p id="modify-card-title-2">
						Edit your credit card information so you can conveniently rent or buy movies on demand, since we'll save your info.
					</p>
				</div>
            </div>
            <form name="newFeed" id="add-update-card" novalidate class="row form-horizontal">
                <div class="left-clm onethird">
                    <div class="form-content">
                        <div class="input-wrapper">

                            <div class="control-group" id="modify-card-billing1-label">
                                <label>Billing Address 1</label>
                            </div>
                        </div>

                        <div class='input-wrapper' id="modify-card-billing2-label">
                            <label>Billing Address 2</label>
                        </div>

                        <div class='input-wrapper' id="modify-card-city-label">
                            <label>City</label>
                        </div>

                        <div class='input-wrapper hide-for-add-modify-1' id="modify-card-state-label">
                            <label>State</label>
                        </div>

                    </div>
                </div>
                <div class="right-clm twothird">
                    <div class="input-wrapper">

                        <div class="controls" id="modify-card-address-1">
                            <input type="text" id="2_0" placeholder="Billing address 1"
                                   ng-mouseover="eventHandler.addCardMouseOver('2_0',0)"
                                   ng-model='creditcard.StreetAddressLine1' autofocus required maxlength="30"
                                   onFocus="invokeOSK(this);" class="textbox-highlight">

                        </div>
                    </div>
                    <div class="input-wrapper">

                        <div class="controls" id="modify-card-address-2">
                            <input ng-mouseover="eventHandler.addCardMouseOver('2_1',1)"
                                   ng-model='creditcard.StreetAddressLine2' class="immediate-help" id="2_1"
                                   type="text" placeholder="Billing address 2" maxlength="30"
                                   onFocus="invokeOSK(this);">

                            <div class="sub-text">(optional)</div>

                        </div>
                    </div>
                    <div class="input-wrapper">

                        <div class="controls" id="modify-city">
                            <input ng-mouseover="eventHandler.addCardMouseOver('2_2',2)" ng-model='creditcard.CityName'
                                   class="immediate-help" id="2_2" required
                                   type="text" placeholder="City" onFocus="invokeOSK(this);">
                        </div>
                    </div>
                    <div class="controls" id="state-dd-list">
                        <input ng-mouseover="eventHandler.addCardMouseOver('2_3',3)" id='2_3' class="state-list"
                               ng-model='creditcard.StateCd' type="text"
                               maxlength="2" placeholder="CA" onFocus="invokeOSK(this);"/>

                        <div class="cvv-number-text">Zip code</div>
                        <input ng-mouseover="eventHandler.addCardMouseOver('2_4',4)" ng-model='creditcard.ZipPostalCode'
                               id="2_4" class="zip-text immediate-help"
                               required type="text" maxlength="5" placeholder="Zip code" onFocus="invokeOSK(this);">
                    </div>
                    <div class="clearAll">&nbsp;</div>
                    <div class="button-container align-right">
                        <div class="lrg-button red" ng-mouseover="eventHandler.addCardMouseOver('2_5',5)" type="submit"
                             id='modify-next-btn-2'
                             ng-click="SaveCard()">
                                NEXT
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="specific-back" id="specific-back" ng-click="eventHandler.billinginfoClickevent('specific-back')"  ng-mouseover="eventHandler.addCardMouseOver('specific-back', 1)">
        <span class="icons cancel-small-noshadow"></span><label>Back</label> <!-- ZOE-30796 - Back button should be always labeled as 'Back' -->
        <!--<span class="icons cancel-small-noshadow"></span><label ng-hide="isSignupFlow">Back</label><label-->
        <!--ng-show="isSignupFlow">I'm going to wait</label>-->
    </div>
	<div class="giftcard-div">Redbox Gift Cards are not currently supported on Redbox Instant. We apologize for any inconvenience.</div>
	
</div>
<style type="text/css">
    #menu-button-wrapper, #back-button-wrapper {
        display: none !important;
    }

    label {
        display: inline;
    }
</style>
