<div rbikeyevent>
    <div id="account-top-nav-bar">
        <div class="top-nav-wrapper">
            <ul class="top-nav-ul">
                <li id="2_{{$index}}" ng-repeat="pane in panes" class="nav-li"
                     ng-class="{'account-top-nav-bar-highlight': ($index==selectedTab), 'nav-li-highlight': (selectedTab==0 && $index==0)}"
                     ng-mouseover="eventHandler.HandleModifyOptionClick(2,$index)"
                     ng-click="CurrentLevelIndex = 2; selectedTab=$index; onTabClick($index)">
                    {{pane.title}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div id="myservice" rbimousewheel class="drawing-area">
            <div id="cardDetails" class="myserviceDetails">
                <div id="24_0_div" class="add-card roundedRow" ng-hide="totalCards && !isFirstCard" ng-mouseover="eventHandler.HandleModifyOptionClick(24,0)">
                	<div class="button-container align-right">
						<div id="24_0" class="lrg-button" ng-class="{'red': (0==(selectedCardIndex)) && (24 == CurrentLevelIndex), 'gr': (24 != CurrentLevelIndex || 0!=(selectedCardIndex))}"
                         	ng-click="addCard()">ADD CARD
                    	</div>
					</div>
                </div>
                <div id="more-card-details" class="more-card-details roundedRow" ng-repeat="card in cardAccounts"
                     ng-mouseover="eventHandler.HandleModifyOptionClick(23,$index)" check-last>
                    <div id="23_{{$index}}_div" class="credit-card-items">
                        <div class="credit-card-details">
                        	<div class="accountPageHeader" ng-show="card.getAccountAlias()">
                                    {{card.getAccountAlias()}}
                                <span class="credit-card-status"
                                     ng-show="card.isPreferred() && card.getIsSubscriptionPrimary()">
                                    (primary & subscription)
                                </span>
                                <span class="credit-card-status"
                                     ng-show="card.isPreferred() && !card.getIsSubscriptionPrimary()">
                                    (primary)
                                </span>
                                <span class="credit-card-status"
                                     ng-show="card.getIsSubscriptionPrimary() && !card.isPreferred()">
                                    (subscription)
                                </span>
                            </div>
                            <div class="copy">
								<p>Card ending in {{card.getLastFour()}}<br>
	                                <span ng-switch on="card.isExpired()">
	                                    <span ng-switch-when="true" class="expiry-div">
	                                        Expired
	                                    </span>
	                                    <span ng-switch-default>
	                                        Expiring {{card.getExpirationMonth()}}/{{card.getExpirationYear()}}
	                                    </span>
	                                </span>
								</p>
                            </div>
                        </div>

                        <div ng-switch on="totalCards==false" id="checkfirst" class="button-container align-right">
                            <div id="23_{{$index}}" class="lrg-button" 
							ng-class="{'red': ($index==(selectedCardIndex - 1)) && (23 == CurrentLevelIndex), 'gr': $index !=(selectedCardIndex - 1)}" 
							
                                 accountNo="{{card.getAccountNumber()}}"
                                 ng-switch-when="true"
                                 ng-click="modifyCard(card.getAccountNumber(), cardPref)">MODIFY CARD
                            </div>
                            <div id="23_{{$index}}" class="lrg-button "
                                 accountNo="{{card.getAccountNumber()}}"
                                 ng-class="{'red': ($index==(selectedCardIndex)) && (23 == CurrentLevelIndex), 'gr': $index !=(selectedCardIndex)}"  ng-switch-default
                                 ng-click="modifyCard(card.getAccountNumber(), cardPref)">MODIFY CARD
                            </div>

                        </div>


                    </div>
                </div>
                <div class="del-card-msg">To delete a card, please login to your account at redboxinstant.com
                </div>
                <!--<div id="Up_Arrow" class="scrollUpButton" onclick="HandleCardArrowUp()">-->
                    <!--&lt;!&ndash; <img src="../../images/up-arrow-updated.png"> &ndash;&gt;-->
                <!--</div>-->
                <!--<div id="Down_Arrow" class="scrollDownButton" onclick="HandleCardArrowDown()">-->
                    <!--&lt;!&ndash; <img src="../../images/down-arrow-updated.png"> &ndash;&gt;-->
                <!--</div>-->
            </div>
        </div>
        <div id='logout-btn' class="logout-button-account" ng-click='logoutUser();' ng-mouseover="eventHandler.HandleModifyOptionClick('logout-btn')">
            <div class="filter-text logout-acc-text">Sign Out</div>
            <span class="icons control-square"></span>
        </div>
    </div>
</div>