<div rbikeyevent ng-show="renderPage">
    <div id="account-top-nav-bar">
        <div class="top-nav-wrapper">
            <ul class="top-nav-ul">
                <li id="2_{{$index}}" ng-repeat="pane in panes" class="nav-li"
                     ng-class="{'account-top-nav-bar-highlight': ($index==selectedTab), 'nav-li-highlight': (selectedTab==0 && $index==0)}"
                     ng-click="CurrentLevelIndex = 2; selectedTab=$index; onTabClick($index)" ng-mouseover="eventHandler.summaryMouseOverEvent('2_'+$index);">
                    {{pane.title}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div id="myservice" class="drawing-area">
            <div class="summary-user">
                <div id="user-id" class="summary-username">Username:<span class="user-name">{{customer.getFirstName() }}&nbsp;&nbsp;{{
                    customer.getLastName() }}</span>&nbsp;&nbsp; Email Address:
                    <span class="email-address">{{customer.getEmailAddress()}}</span>
                </div>

                <div class="app-version-text">Version: {{platform}}-{{binaryVersion}}-VZ{{appVersion}}</div>
            </div>

            <div id="summary-details" class="myservice-details">
                <div id="credits" class="roundedRow">
                    <div id="credit-text" class="credit-text accountPageHeader">Credits</div>
                    <div id="credit-value" class="copy">You have {{currentCreditBalance}}
                        credit{{currentCreditPlural}} available
                        {{{true:'(use by '+ creditsUseBy + ')',false:''}[currentCreditBalance>0]}}
                    </div>
					<div ng-repeat="credit in credits" class="credit-value">
                        {{credit.Quantity}} {{credit.CreditType}} {{credit.CreditPlural}} expire on {{credit.ExpireDate}}
                    </div>
                </div>
                <div id="account-plan" class="roundedRow">
                    <div id="account-plan-text" class="accountPageHeader">account plan</div>
                    <div id="user-account-plan" class="copy">{{{true:packageText, false:'No
                        Subscription'}[packageText.length>0]}}
                    </div>
                    <div id="unlimited-access" class="unlimited-access" align="left">You can find more info on
                        www.redboxinstant.com
                    </div>
                    <div id="movie-nights" class="movie-nights" align="left"></div>
                </div>
				<div id="account-footer-note">
					NOTE: To make changes to your subscription, go to 'Account' on redboxinstant.com
				</div>
            </div>
        </div>
        <div id='logout-btn' class="logout-button-account" ng-click="eventHandler.summaryClickevent('logout-btn')" ng-mouseover="eventHandler.summaryMouseOverEvent('logout-btn');">
            <div class="filter-text logout-acc-text" ng-click='logoutUser();'>Sign Out</div>
            <span class="icons control-square"></span></div>
        <div id="rbi-privacy-policy" class="redbox"  ng-click="eventHandler.summaryClickevent('rbi-privacy-policy')" ng-mouseover="eventHandler.summaryMouseOverEvent('rbi-privacy-policy');"><div class="triangle-btn"> Redbox Instant Privacy Policy<span class="icons control-triangle"></span></div>
		</div>
        <!-- Privacy policy popup -->
        <!-- TODO: Move this into a separate HTML file -->
        <div id="act-summary" class="verizon-policy pop-up" ng-show="isRedboxPolicyOpen">
            <div class="pop-up-content-ctn">
                <div class="pop-up-content-bg">
                    <!-- Creating a separate common html template for Redbox Instant Privacy Policy -->
                    <ng-include src="'views/rbInstantPrivacyPolicy.html'"></ng-include>
                    <!-- -->
                    <div class='action-buttons'>
                        <div class="pop-up-btn-container">
                            <div id="acceptBtnR" class="btn-accept-ctn inline-block"
                                 ng-click="eventHandler.summaryClickevent('ok');"
                                 ng-mouseover="eventHandler.summaryMouseOverEvent('acceptBtnR');">
                                <div class="btn-label inline-block">OK</div>
                                <button class="btn-accept inline-block" type="submit" name="btnAccept" value="Accept">
                                    <div class="btn-accept-img"></div>
                                </button>
                            </div>
							<div class="scroll-div">
								<span>Scroll</span>
								<div class="icons l-icon"></div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        

    </div>
</div>