<div id="browse" rbikeyevent rbimousewheel ng-controller="browseCtrl" >
    <div id="selected-kiosk-wrapper" ng-show="IsBrowseKiosk()">
        <div id="selected-kiosk">
        </div>
        <div id="selected-kiosk-text">
            <div id="selected-kiosk-text1">
                {{kioskName}}</div>
            <div id="selected-kiosk-text2">
                {{kioskAddress}} {{kioskStateAndZip}}</div>
        </div>
    </div>
    <div id="top-bar-text" style="display: none" ng-show="addstyle==true">
		<div class="tabs-centered">
			<div class="tabs-container">
				<div class="wrapper-tab">
					<div id="0_0" class="tab-1" ng-class="{'tab-1High' : 0==currentIndexOfTopBar}" outerlinewidth="4px"  ng-click="eventHandler.onTabClick('0_0');"
							 ng-mouseover="eventHandler.onTabMouseOverEvent('0_0');">
						MOVIES
					</div>
					<div id="0_1" class="tab-2" ng-class="{'tab-1High' : 1==currentIndexOfTopBar}" outerlinewidth="4px"  ng-click="eventHandler.onTabClick('0_1');"
							 ng-mouseover="eventHandler.onTabMouseOverEvent('0_1');">
						GAMES
					</div>
				</div>
			</div>
		</div>
		<!--
		    removed as it is not part of 1.3 release
		    <div class="mov-ctrl"><span class="icons l1-btn"></span></div>
		    <div class="game-ctrl"><span class="icons r1-btn"></span></div>
		 -->
    </div>
    <div class="menu-bar">
        <div class="nav-btns">
            <!-- removed as its not part of 1.3 release
           <span class="icons l2-btn" ng-hide="IsBrowseKiosk()">&nbsp;</span> -->
            <span class="icons l1-btn" ng-hide="IsBrowseKiosk() && !isGame()">&nbsp;</span>
         </div>
       <div class="menu-content" ng-class="{'kioskContainer':IsGameOrBrowseKiosk(),'browseContainer':!IsGameOrBrowseKiosk()}">
           <div id="1_0" attributeid="{{subscriptionID}}" class="menu-items" ng-hide="isGame()"
               ng-class="{'menu-itemHighlight': (currentIndexForViewNavBar ==  0) && !IsGameOrBrowseKiosk()}" 
               >
               <div class="title3" ng-click="eventHandler.processViewClick('1_0')">
                   <span class="icons subscribe">&nbsp;</span>Subscription
               </div>
           </div>
           <div id="1_1" ng-click="eventHandler.processViewClick('1_1')" attributeid="{{atBox}}" class="menu-items" ng-hide="isGame()" ng-class="{'menu-itemHighlight':  currentIndexForViewNavBar  ==  1}"
               >
               <div class="title3">
                   <span class="icons kiosk">&nbsp;</span>At the Box
               </div>
           </div>
           <div id="1_2" ng-click="eventHandler.processViewClick('1_2')" attributeid="{{rentBuyID}}" ng-hide="isGame()" class="menu-items" ng-class="{'menu-itemHighlight': currentIndexForViewNavBar  ==  2}"
               >
               <div class="title3">
                   <span class="icons buy-rent">&nbsp;</span>Rent/Buy
               </div>
           </div>
           <div id="1_3"  ng-click="eventHandler.processViewClick('1_3')" attributeid="{{allID}}" ng-hide="isGame()" class="menu-items menu-item1-last"
               ng-class="{'menu-itemHighlight': currentIndexForViewNavBar  ==  3}" >
               <div class="title3">
                    All
               </div>
           </div>
           <div id="1_4" ng-click="eventHandler.processViewClick(4,0)" attributeid="{{gameAllID}}" ng-hide="!isGame()" class="menu-items menu-item2-first"
               ng-class="{'menu-itemHighlight': currentIndexForViewNavBar  ==  4}">
               <div class="title3">
                All
                </div>
           </div>
           <div id="1_5" ng-click="eventHandler.processViewClick(5,0)" attributeid="{{gamePS3ID}}" ng-hide="!isGame()" class="menu-items"
               ng-class="{'menu-itemHighlight': currentIndexForViewNavBar  ==  5}">
               PS3
           </div>
           <div id="1_6" ng-click="eventHandler.processViewClick(6,0)" attributeid="{{gameWIIID}}" ng-hide="!isGame()" class="menu-items"
               ng-class="{'menu-itemHighlight': currentIndexForViewNavBar  ==  6}">
               Wii</div>
           <div id="1_7" ng-click="eventHandler.processViewClick(7,0)" attributeid="{{gameXBox360ID}}" ng-hide="!isGame()" class="menu-items"
               ng-class="{'menu-itemHighlight': currentIndexForViewNavBar  ==  7}">
               Xbox 360</div>
       </div>
       <div class="nav-btns">
          <!-- removed as its not part of 1.3 release
          <span class="icons r2-btn" ng-hide="IsBrowseKiosk()">&nbsp;</span></div>   -->
            <span class="icons r1-btn" ng-hide="IsBrowseKiosk() && !isGame()">&nbsp;</span></div>
    </div>
    <div id="no-data" class="nodata-main-div">
        <div class="no-data1" align="center">
            No titles were found based on your selection
        </div>
        <div class="no-data2" align="center">
            Your viewing preferences could be keeping titles from being displayed
        </div>
    </div>
    <div class="main-browse-content">
        <div class="error-msgs">{{RecommendedErrorMsg}}</div>
        <div id="grid-container-top-parent" style="overflow: hidden; width: 1150px">
            <div id="topgrid" ng-hide="currentIndexForTop == -1">
            <div ng-show="(genreSelectedOrChanged && allTitles.length != 0)" class="title-top">
                <div ng-hide="!genresLoaded">
                    Suggested in {{currentCategory}}</div>
            </div>
                <div id="grid-container-top" style="width: 100000px" ng-style="{'margin-left':newMarginTop}">
                <div ng-show="genreSelectedOrChanged" class="grid-item-wrapper ribbonParent" id="3_{{$index}}"
                    ng-repeat="title in allTitles" ng-class="{'grid-item-wrapper-hightlight menu-item-ctn-highlight': ($index==currentIndexForTop)}"
                    pid="{{title.productID}}" pname="{{title.title}}" check-last>
                    <div class="top ribbon red" ng-show="title.isComingSoon">
                        <span>Coming Soon</span></div>
                    <div class="top ribbon red" ng-show="title.isNewRelease">
                        <span>Now Available</span></div>
                    <div class="grid-item">
                            <img class="grid-item-img" outerlinewidth="5px" ng-src="{{title.imageUrl}}"
                                postertitle="" onerror="this.src='images/default-img.png';"  ng-click="eventHandler.onGridClickEvent(3,$index);"  ng-mouseover="eventHandler.onGridMouseOverEvent(3,$index);"/>
                    </div>
                    <div class="grid-icon-wrapper">
                        <div class="grid-sub-icons">
                            <div class="icon-content">
                                <span id="sub_0" class="icons subscribe" ng-show="showSubscription(title)">&nbsp;</span>
                                <span id="buyrent_0" class="icons buy-rent" ng-show="showVOD(title)">&nbsp;</span>
                                <span id="kiosk_0" class="icons kiosk" ng-show="showKiosk(title)">&nbsp;</span>
                                <span id="dvd_0" class="icons dvd" ng-show="showDVD(title)">&nbsp;</span> <span id="blueray_0"
                                    class="icons blu-ray" ng-show="showBluRay(title)">&nbsp;</span>
                            </div>

                            <div ng-switch on="scrollTitle($index==currentIndexForTop,title)">
                                <div ng-switch-when="true">
                                    <div class="grid-title-scroll title5" ng-style="{'width':titleWidth(title)}">{{title.title}}</div>
                                </div>
                                <div class="grid-title title5"
                                     ng-style="{'width':titleWidth(title)}" ng-switch-default>{{title.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
		<div ng-show="(genreSelectedOrChanged && titles.length != 0)" class="title-bottom">
			<div ng-hide="!genresLoaded" class="all-in-cat">All In {{currentCategory}}</div>
		</div>	
        <div id="grid-container-all-parent" style="overflow: hidden; width: 1150px">
            <div class="scroll-browse-item" id="scollgrid" ng-class="{'scroll-down-browse-item':currentIndexForMovies > 5}">
                <div id="grid-container">
                    <div ng-show="genreSelectedOrChanged"></div>
                    <div ng-hide="genreSelectedOrChanged" class="grid-item-wrapper ribbonParent" ng-repeat="title in titles | limitTo : 12"
                        ng-class="{'grid-item-wrapper-hightlight menu-item-ctn-highlight': ($index==currentIndexForMovies),'grid-item-disabled':(KioskId && !showDVD(title) && !showBluRay(title))}"
                        pid="{{title.productID}}" pname="{{title.title}}" id="2_{{$index}}" ng-show="$index < 12">
                        <div class="top ribbon red" ng-show="title.isComingSoon">
                            <span>Coming Soon</span></div>
                        <div class="grid-item">
                                <img class="grid-item-img" outerlinewidth="5px" ng-src="{{title.imageUrl}}"
                                    postertitle="" onerror="this.src='images/default-img.png';"  ng-mouseover="eventHandler.onGridMouseOverEvent(2,$index);" ng-click=" eventHandler.onGridClickEvent(2,$index);"/>
                        </div>
                        <div class="grid-icon-wrapper">
                            <div class="grid-sub-icons">
                                <div class="icon-content">
                                    <span id="span1" class="icons subscribe" ng-show="showSubscription(title)">&nbsp;</span>
                                    <span id="span2" class="icons buy-rent" ng-show="showVOD(title)">&nbsp;</span>
									<span id="span3" class="icons kiosk" ng-show="showKiosk(title)">&nbsp;</span>
									<span id="span4" class="icons dvd" ng-show="showDVD(title)">&nbsp;</span>
									<span id="span5" class="icons blu-ray" ng-show="showBluRay(title)">&nbsp;</span>
									<span id="span0" class="bottom ribbon red" ng-show="KioskId && !showDVD(title) && !showBluRay(title)">Out Of Stock</span>
                                </div>

                                <div ng-switch on="scrollTitle($index==currentIndexForMovies,title)">
                                    <div ng-switch-when="true">
                                        <div class="grid-title-scroll title5" ng-style="{'width':titleWidth(title)}">{{title.title}}</div>
                                    </div>
                                    <div class="grid-title title5"
                                         ng-style="{'width':titleWidth(title)}" ng-switch-default>{{title.title}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p ng-show="(titles.length==0 && !$('.error-msgs').is(':visible'))">
                        Sorry, we couldn't find any titles matching your request.</p>
                </div>

                <!-- Grid Container 2 -->
                <!-- This is to show the next set of titles on the screen
                     The titles will be pre-loaded when the user does a DOWN, RIGHT, LEFT, UP
                     from the first row.. Initially we were not showing the next set(page) of titles and
                     the user did not know if there were more titles...
                -->
                <div id="grid-container2">
                    <div class="grid-item-wrapper ribbonParent"
                         ng-class="{'grid-item-disabled':(KioskId && !showDVD(title) && !showBluRay(title))}"
                         ng-repeat="title in gridTitles | limitTo : 12" ng-show="pageNumber * 12 < pageCount"
                         pid="{{title.productID}}" pname="{{title.title}}">
                        <div class="top ribbon red" ng-show="title.isComingSoon">
                            <span>Coming Soon</span></div>
                        <div class="grid-item">
                            <img onerror="this.src='images/default-img.png';" class="grid-item-img" ng-src="{{title.imageUrl}}"  ng-click="eventHandler.onGrid2ClickEvent(2,$index);">
                            <div class="grid-item-bottom" ng-hide="IsSecondRowSelected" ng-show="!IsSecondRowSelected">
                            </div>
                        </div>
                        <div class="grid-icon-wrapper">
                            <div class="grid-sub-icons">
                                <div class="icon-content" style="float: right">
                                    <span id="span6" class="icons subscribe" ng-show="showSubscription(title)">&nbsp;</span>
                                    <span id="span7" class="icons buy-rent" ng-show="showVOD(title)">&nbsp;</span>
                                    <span id="span8" class="icons kiosk" ng-show="showKiosk(title)">&nbsp;</span>
                                    <span id="span9" class="icons dvd" ng-show="showDVD(title)">&nbsp;</span>
                                    <span id="span10" class="icons blu-ray" ng-show="showBluRay(title)">&nbsp;</span>
                                    <span id="span0" class="bottom ribbon red" ng-show="KioskId && !showDVD(title) && !showBluRay(title)">Out Of Stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-btm">
        <div id="Category" class="category-wrapper" popupcolumnclass='categoty-column' uifilterpopuptitle='category-filter-popup-title' ng-click="eventHandler.processBottomButtonClick('Category');" ng-mouseover="eventHandler.onBottomButtonHover('Category')">
            <div class="category-text">
                Category:
            </div>
            <div class="category-status" id="category-status">
                {{currentCategory}}
            </div>
            <div class="icons control-square">
            </div>
        </div>
        <div id="Filter" class="filter-wrapper" uifilterpopuptitle='movie-filter-popup-title' ng-click="eventHandler.processBottomButtonClick('Filter');" ng-mouseover="eventHandler.onBottomButtonHover('Filter')">
            <div class="filter-text">
                Filter:
            </div>
            <div class="filter-status" id="filter-status">
                {{{true:'On',false:'Off'}[currentFilter]}}
            </div>
            <div class="category icons control-triangle">
            </div>
        </div>
    </div>
    <div id="titlePopup" class="titleBg">
        <div id="title" align="center" class="titleStyle">
        </div>
    </div>

     <div abandonpopup></div>

    <div id="bottomGrad">
		<div class="seperator"></div>
    </div>
    <div id="FilterPopUp" style="display:none" class="popup-background" ng-show="uiFilterPopupOpen">
        <div id="popup-container">
            <div class="wrapper">
                <div id="PopupTitle" ng-class="uiFilterPopupTitle" class="title2">
                    {{popUpTitle}}
                </div>
                <div class="popup-body game-layout">
                   <div class="clm-1 first-clm">
                        <div ng-class="{true: 'popup-arrow-up-column1' , false:'display-none'}[selectedFormatFilterIndex != 0]">
                        </div>
                        <div id="PopupColumn1">
                            <div id="50_0" class="PopupColumnItemSelected  popup-column-title" ng-class="{true:'column1-title-highlight', false:''}[viewFormatOpen]"
                                ng-show="viewFilterOpen && !isGame()">
                                FORMAT
                            </div>
                            <div id="PopupColumn1Items" class="PopupColumnItems">
                                <div id="50_{{$index}}" class="PopupColumnItem PopupColumn1Item" ng-class="{BrowserPopupColumnItemHighlight:($index==selectedFormatFilterIndex)}" ng-mouseover="eventHandler.onPopUpMouseOverEvent(50,$index);" ng-click="eventHandler.onPopUpMouseClickEvent(50,$index)" ng-mouseout="eventHandler.onPopUpMouseOutEvent();"
                                    filterid="{{item.id}}" type="Format" name="All" ng-repeat="item in filter1" ng-click="selectedFormatFilterIndex = $index;">
                                    {{item.name}}
                                </div>
                            </div>
                        </div>

                    </div> <!-- <div ng-class="{true: 'popup-arrow-up-column1' , false:''}[filterTwoIndex != lengthOfColumn2]" ng-show="viewFilterOpen"> </div>-->
                    <div class="popup-arrow-down-column1" ng-show="viewFilterOpen"> </div>
                    <div class="clm-2">
                        <div ng-class="{true: 'popup-arrow-up-column2' , false:'display-none'}[filterTwoIndex != 0]">
                        </div>
                        <div id="PopupColumn2" class="PopupColumnItems">
                            <div id="51_0" class="PopupColumnItemSelected column2-title popup-column-title  {{popupColumnClass}}"
                                 ng-class="{true: column2Class , false:''}[viewRatingOpen || categoryPopupOpen]" ng-show="uiFilterPopupOpen" ng-mouseover="">
                                {{column2Header}}
                            </div>
                            <div id="PopupColumn2Items" class="PopupColumnItems">
                                <div id="51_{{$index}}" class="PopupColumnItem PopupColumn2Item" ng-class="{BrowserPopupColumnItemHighlight:($index==filterTwoIndex)}"
                                     filterid="{{item.id}}" type="SpecialFilters" name="Featured" ng-repeat="item in filter2"ng-mouseover="eventHandler.onPopUpMouseOverEvent(51,$index);" ng-click="eventHandler.onPopUpMouseClickEvent(51,$index)" ng-mouseout="eventHandler.onPopUpMouseOutEvent();"
                                  >
                                      <div ng-switch on="scrollCategoryTitle(item.name,$index)">
                                          <marquee ng-switch-when="true" class="marque-category">
                                          <div id="4444_{{$index}}" ng-style="{'width':titleWidth({{item.name}})}"> {{item.name}}</div>
                                        </marquee>
                                      <div  id="4444_{{$index}}" ng-switch-default> {{item.name}}</div>
                                       </div>
                                </div>
                            </div>
                        </div>

                    </div> <div ng-class="{true: 'popup-arrow-down-column2' , false:'display-none'}[filterTwoIndex != lengthOfColumn2]"></div>
                    <div class="clm-3">
                         <div ng-class="{true: 'popup-arrow-up-column3' , false:'display-none'}[selectedSortFilterIndex != 0]">
                        </div>
                        <div id="PopupColumn3" class="PopupColumnItems">
                             <div id="52_0" class="PopupColumnItemSelected column3-title popup-column-title {{popupColumnClass}}" ng-show="viewFilterOpen"
                                ng-class="{true:'column3-title-highlight', false:''}[viewSortByOpen]" ng-mouseover="">
                                SORT BY
                            </div>
                            <div id="PopupColumn3Items" class="PopupColumnItems">
                                <div id="52_{{$index}}" class="PopupColumnItem PopupColumn3Item" ng-class="{BrowserPopupColumnItemHighlight:($index==selectedSortFilterIndex)}"
                                    filterid="{{item.id}}" type="Format" name="All" ng-repeat="item in filter3" ng-mouseover="eventHandler.onPopUpMouseOverEvent(52,$index)" ng-click="eventHandler.onPopUpMouseClickEvent(52,$index)" ng-mouseout="eventHandler.onPopUpMouseOutEvent();">
                                    {{item.name}}
                                </div>
                            </div>
                        </div>

                    </div> <div class="popup-arrow-down-column3" ng-show="viewFilterOpen"></div>
                </div>
                <div id="buttonContainer">
                    <div class="popup-bottom-line">
                    </div>
                    <div id="53_0" class="back-button-wrapper popup-back-button" ng-click="eventHandler.processBottomButtonClick('53_0');" ng-mouseover="eventHandler.onBottomButtonHover('53_0');">
                        <span class="icons cancel-small"></span>Back
                    </div>
                    <div id="53_1" class="back-button-wrapper popup-back-button" ng-click="eventHandler.processBottomButtonClick('53_1');" ng-mouseover="eventHandler.onBottomButtonHover('53_1');">
                        <span class="icons done-small"></span>Reset
                    </div>
                    <div id="53_2" class="back-button-wrapper popup-ok-button" ng-click="eventHandler.processBottomButtonClick('53_2');" ng-mouseover="eventHandler.onBottomButtonHover('53_2');">
                        Save<span class="icons close-small"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
