<div class="container " style=" padding-bottom:39px; width:100%">
   <div class="row">
      <div class="row">
         <div class="col-md-9">
            <h3>{{ 'Frequently' | translate }} {{ 'Visited' | translate }}:</h3>
         </div>
         <div class="col-md-3">
            <!-- Controls -->
            <div class="controls pull-right ">
               <a class="left fa fa-chevron-left btn btn" href="/#/#carousel-example"
                  data-slide="prev">Prev</a>
               <a class="right fa fa-chevron-right btn" href="/#/#carousel-example"
                  data-slide="next">Next</a>
            </div>
         </div>
      </div>
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
         <!-- Wrapper for slides -->
         <div class="carousel-inner">
            <div class="item active">
               <div class="row">
                  <div ng-repeat="product in products | limitTo:4 | filter:'Handset' ">
                     <div class="col-sm-3">
                        <div class="col-item">
                           <div class="info">
                              <div class="row">
                                 <div class="price col-md-6" style=" padding-left: 15px;padding-right: 0px;">
                                    <h5>{{product.productName}}</h5>
                                    <h5 class="price-text-color">
                                       {{product.productPrice}}
                                    </h5>
                                 </div>
                                 <div class="rating col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="photo">
                              <img src="{{product.imagePath}}" 
                                 class="img-responsive" alt="a" />
                           </div>
                           <div class="info">
                              <div class="separator clear-left">
                                 <p class="btn-add">
                                    <i class="fa fa-shopping-cart"></i>
                                    <a href="" class="" 
                                       ng-click="addProductToCart(product)">
                                    {{ 'Add_to_cart' | translate }} </a>
                                 </p>
                                 <p class="btn-details">
                                    <i class="fa fa-list"></i>
                                    <a href="" class=""
                                       ng-click="redirectToDetail(product)">
                                    {{ 'More' | translate }} {{ 'Details' | translate }}
                                    </a>
                                 </p>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="row">
                  <div ng-repeat="product in products | filter:'Handset' " ng-if="$index > 4 && $index < 9">
                     <div class="col-sm-3">
                        <div class="col-item">
                           <div class="info">
                              <div class="row">
                                 <div class="price col-md-6" style=" padding-left: 15px;padding-right: 0px;">
                                    <h5>{{product.productName}}</h5>
                                    <h5 class="price-text-color">
                                       {{product.productPrice}}
                                    </h5>
                                 </div>
                                 <div class="rating col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="photo">
                              <img src="{{product.imagePath}}" 
                                 class="img-responsive" alt="a" />
                           </div>
                           <div class="info">
                              <div class="separator clear-left">
                                 <p class="btn-add">
                                    <i class="fa fa-shopping-cart"></i>
                                    <a href="" class="" 
                                       ng-click="addProductToCart(product)">
                                    {{ 'Add_to_cart' | translate }}
                                    </a>
                                 </p>
                                 <p class="btn-details">
                                    <i class="fa fa-list"></i>
                                    <a href="" class=""
                                       ng-click="redirectToDetail(product)">
                                    {{ 'More' | translate }} {{ 'Details' | translate }}
                                    </a>
                                 </p>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="row">
                  <div ng-repeat="product in products | filter:'Handset' " ng-if="$index >8 && $index < 13">
                     <div class="col-sm-3">
                        <div class="col-item">
                           <div class="info">
                              <div class="row">
                                 <div class="price col-md-6" style=" padding-left: 15px;padding-right: 0px;">
                                    <h5>{{product.productName}}</h5>
                                    <h5 class="price-text-color">
                                       {{product.productPrice}}
                                    </h5>
                                 </div>
                                 <div class="rating col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="photo">
                              <img src="{{product.imagePath}}" 
                                 class="img-responsive" alt="a" />
                           </div>
                           <div class="info">
                              <div class="separator clear-left">
                                 <p class="btn-add">
                                    <i class="fa fa-shopping-cart"></i>
                                    <a href="" class="" 
                                       ng-click="addProductToCart(product)">
                                        {{ 'Add_to_cart' | translate }}
                                    </a>
                                 </p>
                                 <p class="btn-details">
                                    <i class="fa fa-list"></i>
                                    <a href="" class=""
                                       ng-click="redirectToDetail(product)">
                                        {{ 'More' | translate }} {{ 'Details' | translate }}
                                    </a>
                                 </p>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="row">
                  <div ng-repeat="product in products | filter:'Handset' | limitTo:-(products.length-12)">
                     <div class="col-sm-3">
                        <div class="col-item">
                           <div class="info">
                              <div class="row">
                                 <div class="price col-md-6" style=" padding-left: 15px;padding-right: 0px;">
                                    <h5>{{product.productName}}</h5>
                                    <h5 class="price-text-color">
                                       {{product.productPrice}}
                                    </h5>
                                 </div>
                                 <div class="rating  col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="photo">
                              <img src="{{product.imagePath}}" 
                                 class="img-responsive" alt="a" />
                           </div>
                           <div class="info">
                              <div class="separator clear-left">
                                 <p class="btn-add">
                                    <i class="fa fa-shopping-cart"></i>
                                    <a href="" class="" 
                                       ng-click="addProductToCart(product)">
                                    {{ 'Add_to_cart' | translate }}
                                    </a>
                                 </p>
                                 <p class="btn-details">
                                    <i class="fa fa-list"></i>
                                    <a href="" class=""
                                       ng-click="redirectToDetail(product)">
                                    {{ 'More' | translate }} {{ 'Details' | translate }}
                                    </a>
                                 </p>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>