<div id="subscription" rbikeyevent>
    <div class="inner-container">
        <div id="confirm-subscription" class="form-container" ng-show="showSubscription()">
            <div class="title1">Congrats! Your subscription is confirmed!</div>
            <div class="content-block">
                <span class="title2" ng-show="hasCredits" class="content-block-left">
                    <p>With your subscription, you get {{packageDescription}} credits at the box plus our<br>
                        streaming library of hits. You can always rent or buy movies on demand as well!</p>
                </span>
                <span class="title2" ng-hide="hasCredits" class="content-block-left">
                    <p>With your subscription, you get our streaming library of hits plus you can always rent or buy
                        movies on demand as well!</p>
                </span>
                <div class="content-block-right lrg-button red" id="1_0" ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(1,0)"
                 ng-click="navigateToHome()">
                    START WATCHING
                </div>
            </div>
            <div class="clearAll">&nbsp;</div>
            <div class="content-block">
                <div class="content-block-left">
                    <div class="list-title"><span class="icons subscribe"></span> Subscription Hits</div>
                    <ul>
                        <li ng-repeat="title in subscriptionTitles" class="grid-item">
                            <img class="grid-item-img" id="2_{{$index+3}}"
                                 ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(2,($index+3))"
                                 onerror="this.src='images/default-img.png';" outerlinewidth="5px"
                                 ng-click="goToTitleDetails(title)"
                                 ng-src="{{title.getBoxCoverImage()}}" pid="{{title.getProductID()}}"
                                 postertitle="{{title.getTitle()}}"/>
                        </li>
                    </ul>
                    <div class="clearAll">&nbsp;</div>
                    <div class="content-block">
                        <span class="content-block-left">
                            <p>Stream movies instantly with your {{packageType}}. Check out our subscribers-only library of hits.</p>
                        </span>
                        <div id="3_2" class="content-block-right lrg-button gr" ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(3,2)"
                             ng-click="goToSubscription()">
                                SHOW MORE
                        </div>
                    </div>
                </div>
                <!-- Do not show the right pane for streaming-only subscribers -->
                <div class="content-block-right" ng-show="showDVD()||showBluRay()">
                    <div class="list-title" ng-show="showDVD()">
                        <span class="icons dvd"></span> Use DVD Credits
                    </div>
                    <div class="list-title" ng-show="showBluRay()">
                        <span class="icons blu-ray"></span> Use Blu-ray Credits
                    </div>
                    <ul>
                        <li ng-repeat="title in kioskTitles" class="grid-item">
                            <img class="grid-item-img" id="2_{{$index+6}}"
                                 ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(2,($index+6))"
                                 ng-click="goToTitleDetails(title)"
                                 outerlinewidth="5px" ng-src="{{title.getBoxCoverImage()}}"
                                 pid="{{title.getProductID()}}"
                                 postertitle="{{title.getTitle()}}"/>
                        </li>
                    </ul>
                    <div class="clearAll">&nbsp;</div>
                    <p>First, Select a movie available 'At the Box'. 'Find' at a nearby Redbox location, then check the
                        'Use Credits' box during checkout.</p>
                </div>
            </div>
        </div>
        <div id="all-set" class="form-container" ng-show="!showSubscription()">
            <div class="title1">You're all set!</div>
            <div class="content-block">
                <span class="content-block-left">
                    <p>Congratulations on your new account! You can now rent or buy great movies on demand or reserve at the box.</p>
                </span>
                <div id="1_1" class="content-block-right lrg-button red" ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(1,0)"
                     type="submit" ng-click="navigateToHome()">
                    START WATCHING
                </div>
            </div>
            <div class="content-block">
                <div class="content-block-left">
                    <div class="list-title"><span class="icons rent"></span> Rent or Buy</div>
                    <ul>
                        <li ng-repeat="title in rentTitles" class="grid-item">
                            <!--onerror="this.src='" is added to display default images and without white border around it-->
                            <img class="grid-item-img" id="2_{{$index}}"
                                 ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(2,$index)"
                                 onerror="this.src='images/default-img.png';" outerlinewidth="5px"
                                 ng-click="goToTitleDetails(title)"
                                 ng-src="{{title.getBoxCoverImage()}}" pid="{{title.getProductID()}}"
                                 postertitle="{{title.getTitle()}}"/>
                        </li>
                    </ul>
                    <div class="clearAll">&nbsp;</div>
                    <div class="content-block">
                        <span class="content-block-left">
                            <p>Conveniently rent or buy movies on demand.</p>
                        </span>
                        <div id="3_0" class="content-block-right lrg-button gr" ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(3,0)"
                             ng-click="goToShowRentBuy()">
                            SHOW MORE TO RENT/BUY
                        </div>
                    </div>
                </div>
                <div class="content-block-right">
                    <div class="list-title">Subscribe and Enjoy</div>
                    <img src="images/free-trial-box.png" class="promo"/>
                </div>
            </div>
            <div class="clearAll">&nbsp;</div>
            <div class="content-block">
                <div id="3_1" class="content-block-right lrg-button gr" ng-mouseover="eventHandler.confirmSubscriptionMouseOverEvent(3,1)"
                     type="submit" ng-click="navigateToSubscription()">
                        SUBSCRIBE
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #menu-button-wrapper, #back-button-wrapper {
            display: none !important;
        }
    </style>
</div>
