
<div id="create-account" rbikeyevent>
	<div class="inner-container">
			<div id="account-create-1"  class="form-container" ng-show="state == 'ACCOUNT_CREATE_1'">
                <div class="title1">Welcome! Let's get started!</div>
                <p>Sign up for a Redbox Instant by Verizon account below. It's easy and FREE to sign-up!</p>
                <!-- ZOE-29733: CommonHTML: Remove check and prompt for all missing customer profile information on Mobile and TV clients -->
				<!--<div class="title1" ng-hide="isExistingCustomer">Welcome! Let's get started!</div>-->
                <!--<div class="title1" ng-show="isExistingCustomer">Almost done...</div>-->
				<!--<p  ng-hide="isExistingCustomer">Sign up for a Redbox Instant by Verizon account below. It's easy and FREE to sign-up!</p>-->
                <!--<p  ng-show="isExistingCustomer">We need some additional information so you can conveniently rent or buy movies on demand with ease, since we'll save your info.</p>-->
				<div class="clearAll">&nbsp;</div>
                <ul>
					<li>
						<label>Email Address</label>
						<input id='account_email' ng-class="{'textbox-highlight':0==focusIndex}"  ng-mouseover="eventHandler.createAccountMouseOverEvent(0);" ng-model='customerData.loginEmail' type='text'  onFocus="invokeOSK(this);"/>
						<div class="focus-content">
							<span class="icons arrow">&nbsp;</span>
							<span class="focus-text">We'll use this email address to send you news, deals, and special offers from Redbox and Redbox Instant by Verizon. You can unsubscribe at any time by going to the Account section of redboxinstant.com</span>
						</div>
					</li>
					<li>
						<label>Confirm Email Address</label>
						<input id='account_confirmemail' ng-class="{'textbox-highlight':1==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(1);"  ng-model='customerData.confirmEmail' type='text'  onFocus="invokeOSK(this);"/>
					</li>
					<li>
						<label>First Name</label>
						<input maxlength="50" id='account_firstname' ng-class="{'textbox-highlight':2==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(2);" ng-model='customerData.firstName' type='text'  onFocus="invokeOSK(this);"/>
					</li>
					<li>
						<label>Last Name</label>
						<input maxlength="50" id='account_lastname' ng-class="{'textbox-highlight':3==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(3);" ng-model='customerData.lastName' type='text' onFocus="invokeOSK(this);"/>
					</li>
				</ul>
                <div class="clearAll">&nbsp;</div>
                <div class="button-container align-left">
                    <div id='create-account-next-screen1' ng-class="{'red':4==focusIndex , 'gr':4!=focusIndex}"  class="lrg-button" ng-mouseover="eventHandler.createAccountMouseOverEvent(4);" ng-click="createAccountNext()">
					Next
                    </div>
				</div>
			</div>

			<div id="account-create-2"  class="form-container" ng-show="state == 'ACCOUNT_CREATE_2'">
                <div class="title1">Welcome! Let's get started!</div>
                <p>Sign up for a Redbox Instant by Verizon account below. It's easy and FREE to sign-up!</p>
                <!-- ZOE-29733: CommonHTML: Remove check and prompt for all missing customer profile information on Mobile and TV clients -->
				<!--<div class="title1" ng-hide="isExistingCustomer">Welcome! Let's get started!</div>-->
                <!--<div class="title1" ng-show="isExistingCustomer">Almost done...</div>-->
				<!--<p  ng-hide="isExistingCustomer">Sign up for a Redbox Instant by Verizon account below. It's easy and FREE to sign-up!</p>-->
                <!--<p  ng-show="isExistingCustomer">We need some additional information so you can conveniently rent or buy movies on demand with ease, since we'll save your info.</p>-->
				<ul>
					<li>
						<label>Password</label>
						<input maxlength="12" id='account_password' ng-class="{'textbox-highlight':0==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(0);" ng-model='customerData.password' type='password' onFocus="invokeOSK(this,true);"/>
						<div class="focus-content">
							<span class="icons arrow">&nbsp;</span>
							<span class="focus-text">Passwords must have 6-12 characters and can be made using any combination of numbers, special characters and/or lower and uppercase letters.</span>
						</div>
					</li>
					<li>
						<label>Confirm Password</label>
						<input maxlength="12" id='account_confirmpassword' ng-class="{'textbox-highlight':1==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(1);" ng-model='customerData.confirmPassword' type='password' onFocus="invokeOSK(this,true);"/>
					</li>
					<li>
						<label>Zip Code</label>
						<input maxlength="5" id='account_zipcode' ng-class="{'textbox-highlight':2==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(2);"  ng-model='customerData.zipCode' type='text' onFocus="invokeOSK(this);"/>
					</li>
                    <li class="check-box">	
                        <label>&nbsp;</label>
                        <input type="checkbox" class="checkbox-container" ng-mouseover="eventHandler.createAccountMouseOverEvent(3);" id="account_terms_and_condition" ng-model='customerData.termsAndCondition' ng-class="{'red':focusIndex==3,'gr':focusIndex!=3}">
                        <span>I have read and agree to both the Redbox Instant by Verizon Terms of Service and Redbox Terms &amp; Conditions.</span>
                    </li>
				</ul>
                <div class="button-container align-left">
				<div id='create-account-next-screen2' ng-class="{'red':4==focusIndex , 'gr':4!=focusIndex}" class="lrg-button" ng-mouseover="eventHandler.createAccountMouseOverEvent(4);"  ng-click="createAccountNext()">
					           
                                   CREATE ACCOUNT
                                   <!-- ZOE-29733: CommonHTML: Remove check and prompt for all missing customer profile information on Mobile and TV clients -->
                                    <!--<div class="drop-down-text" ng-hide="isExistingCustomer" >CREATE ACCOUNT</div>-->
                                    <!--<div class="drop-down-text" ng-show="isExistingCustomer">UPDATE ACCOUNT</div>-->

                </div>

				<div class="bottom-btns">
					<div id="btm1"  ng-click="eventHandler.verizonPolicyOpen();" ng-class="{'loginbutton-highlight':5==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(5);" class="rbi-pp-button"> Redbox Instant Terms of Service<span class="icons control-triangle"></span> </div>
					<div id="btm2"  ng-click="eventHandler.redboxPolicyOpen();" ng-class="{'loginbutton-highlight':6==focusIndex}" ng-mouseover="eventHandler.createAccountMouseOverEvent(6);" class="vz-pp-button"> Redbox Terms &amp; Conditions<span class="icons control-square"></span> </div>
				</div>

			</div>	
			<div id="account-creating" class="form-container" ng-show="state == 'ACCOUNT-CREATING'">
				<img id="we_are_best" src="images/account-creating.png" />
			</div>
			<div id="account-created" class="form-container"  ng-show="state == 'ACCOUNT-CREATED'">
				<img id="we_are_best" src="images/account-created.png" />
			</div>
			<div id="free-subscription-selection" class="form-container"  ng-show="state == 'FREE-SUBSCRIPTION-SELECTION'">
				<div class="inner-cont">
					<div id="title" class="title1">How about a subscription? First month is free!</div>
					<img id="we_are_best" src="images/free-trial-box.png" />
					<ul class="radio-div">
						<li class="">
							<input type="radio" ng-mouseover="eventHandler.createAccountMouseOverEvent(0);"  ng-model="customerData.freetrail" ng-click="selectFreeTrialOption();" value="true" id="account_withSubscription" class="radio-highlight"/>
							<span>Yes! I'd like 4 DVD credits every month plus the streaming library of hits (First month FREE w/subscription)</span>
						</li>

						<li class="">
							<input type="radio"  ng-mouseover="eventHandler.createAccountMouseOverEvent(1);"  ng-model="customerData.freetrail" ng-click="selectFreeTrialOption();" value="false" id="account_withoutSubscription"/>
							<span>I'll just add a credit card to rent or buy movies on demand. </span>
						</li>
					</ul>
				</div>
			</div>				
	</div>
	
	<div class="verizon-policy pop-up" ng-show="isRedboxPolicyOpen">
    <div class="pop-up-content-ctn">
		<div class="pop-up-content-bg" style="color:#58595B;height:615px;line-height:15px;">
            <!-- Creating a separate common html template for Redbox Terms and Conditions -->
            <ng-include src="'views/rbTermsandConditions.html'"></ng-include>
            <!-- -->
			<div class="shade-bg"></div>
			<div class='action-buttons'>
				<div class="pop-up-btn-container">
					<div id="acceptBtnR" class="acceptBtnV inline-block" ng-class="{'loginbutton-highlight':7==focusIndex}"  ng-click="eventHandler.accountEnterKeyEvent();" ng-mouseover="eventHandler.createAccountMouseOverEvent('7');">
						<div class="btn-label inline-block">OK</div>
						<button class="btn-accept inline-block"  type="submit" name="btnAccept" value="Accept">
							<div class="btn-accept-img"></div>
						</button>
					</div>
					<div class="scroll-div">
						<span>Scroll</span>
						<div class="icons l-icon"></div>
					</div>
				</div>
			</div>
         </div>
    </div>
 </div>
    <div class="verizon-policy pop-up" ng-show="isVerizonPolicyOpen">
    <div class="pop-up-content-ctn">
		<div class="pop-up-content-bg">
            <!-- Creating a separate common html template for Redbox Instant Terms of Service -->
            <ng-include src="'views/rbInstantTermsofService.html'"></ng-include>
            <!-- -->
            <div class="shade-bg"></div>
			<div class='action-buttons'>
				<div class="pop-up-btn-container">
					<div id="acceptBtnV" ng-class="{'loginbutton-highlight':8==focusIndex}" ng-click="eventHandler.accountEnterKeyEvent();" ng-mouseover="eventHandler.createAccountMouseOverEvent('8');" class="acceptBtnV inline-block">
						<div class="btn-label inline-block">OK</div>
						<button class="btn-accept inline-block" id="0_1" type="submit" name="btnAccept" value="Accept">
							<div class="btn-accept-img"></div>
						</button>
					</div>
					<div class="scroll-div">
						<span>Scroll</span>
						<div class="icons l-icon"></div>
					</div>
				</div>
			</div>
         </div>
    </div>
 </div>
  <div class="specific-back" id="specific-back" ng-show="specificBack" ng-click="eventHandler.navigateBack();" ng-mouseover="onMouseOver('specific-back')">
		<span class="icons cancel-small-noshadow"></span>Back
 </div>
</div>

        <div class="btm-line"></div>
<style type="text/css">
#menu-button-wrapper, #back-button-wrapper{display:none !important;}
</style>
