<div class="container-fluid background">
    <div class="row mT10">
        <div class="col-md-3">
            <ul class = "list-group">
                <li class = "list-group-item list" >
                    <a href="" class="footer-font">Investor Relations</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Free Window Space hosting</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Number of Images</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">24*7 support</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Renewal cost per year</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class = "list-group">
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Privacy &amp; CRTC</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Careers</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Community Forums</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Accessibility Services</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class = "list-group">
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Terms &amp; Conditions</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Site Map</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class = "list-group">
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Contact us</a>
                </li>
                <li class = "list-group-item list">
                    <a href="" class="footer-font">Find a Store</a>
                </li>
            </ul>
        </div> 
    </div>
    <div class="row pL14">
        <p id="copyright" >&copy; 1995 – 2016 Rogers Communications</p>
    </div>
</div>