
<div id="create-account" rbikeyevent>
	<div class="inner-container">
			<div id="free-subscription-selection" class="form-container">
				<div class="inner-cont">
					<div id="title" class="title1">How about a subscription? First month is free!</div>
					<img id="we_are_best" src="images/free-trial-box.png" />
					<ul class="radio-div">
						<li>
							<input type="radio" class="large" ng-mouseover="eventHandler.accountMouseOverEvent(0);" ng-class="{'red':0==focusIndex,'gr':0!=focusIndex}" ng-model="customerData.freetrail" ng-click="selectFreeTrialOption();" value="true" autofocus id="account_withSubscription"/>
							<span>Yes! I'd like 4 DVD credits every month plus the streaming library of hits (First month FREE w/subscription)</span>
						</li>
						<li>
							<input type="radio" class="large" ng-mouseover="eventHandler.accountMouseOverEvent(1);" ng-class="{'red':1==focusIndex,'gr':1!=focusIndex}" ng-model="customerData.freetrail" ng-click="selectFreeTrialOption();" value="false" id="account_withoutSubscription"/> 
							<span ng-hide="hasCreditCardOnFile">I'll just add a credit card to rent or buy movies on demand. </span>
                            <span ng-show="hasCreditCardOnFile">No Thanks. Maybe Later.</span>
						</li>
						
					</ul>
				</div>
			</div>				
	</div>
	
	<div class="verizon-policy pop-up" ng-show="isRedboxPolicyOpen">
    <div class="pop-up-content-ctn">
		<div class="pop-up-content-bg">
            <!-- Creating a separate common html template for Redbox Privacy Policy -->
            <ng-include src="'views/rbPrivacyPolicy.html'"></ng-include>
            <!-- -->
			<div class='action-buttons'>
				<div class="pop-up-btn-container">
					<div id="acceptBtnR" class="btn-accept-ctn inline-block"  ng-click="eventHandler.accountEnterKeyEvent();" ng-mouseover="eventHandler.accountMouseOverEvent('acceptBtnR');">
						<div class="btn-label inline-block">OK</div>
						<button class="btn-accept inline-block"  type="submit" name="btnAccept" value="Accept">
							<div class="btn-accept-img"></div>
						</button>
					</div>
				</div>
			</div>
         </div>
    </div>
 </div>
    <div class="verizon-policy pop-up" ng-show="isVerizonPolicyOpen">
    <div class="pop-up-content-ctn">
		<div class="pop-up-content-bg">
            <!-- Creating a separate common html template for Redbox Instant Privacy Policy -->
            <ng-include src="'views/rbInstantPrivacyPolicy.html'"></ng-include>
            <!-- -->
			<div class='action-buttons'>
				<div class="pop-up-btn-container">
					<div id="acceptBtnV" ng-click="eventHandler.accountEnterKeyEvent();" ng-mouseover="eventHandler.accountMouseOverEvent('acceptBtnV');"class="btn-accept-ctn inline-block">
						<div class="btn-label inline-block">OK</div>
						<button class="btn-accept inline-block" id="0_1" type="submit" name="btnAccept" value="Accept">
							<div class="btn-accept-img"></div>
						</button>
					</div>
				</div>
			</div>
         </div>
    </div>
 </div>
 <div class="specific-back" ng-class="{'specific-back-highlight':2==focusIndex}" id="specific-back" onclick="onMouseClick('back-button-wrapper')" ng-mouseover="eventHandler.accountMouseOverEvent(2);">
		<span class="icons cancel-small-noshadow"></span>{{backButtonLabel}}
 </div>
</div>
<style type="text/css">
#menu-button-wrapper, #back-button-wrapper{display:none !important;}
</style>
