<div class="search-container" id="location-search">

    <div class="left-content location-left-content">
        <div style="position: absolute; top: 40px" ng-show="productId!=undefined && productId!=''">
        <img src="{{image_url}}" width="100px" height="120px" style="margin-left: 45px"/>
           <!-- <span style="color: white">{{image_title}}</span>-->
        </div>
        <div class="search-div">
            <div class="title6">Find a Redbox Kiosk:</div>
            <div class="search-text-box" id="searchBox" rbikeyevent="" rbimousewheel>
                <input id="1_0"
                       ng-model='searchString'
                       type="text"
                       placeholder="Enter ZIP or Address"
                       ng-class="{'focused':CurrentLevelIndex == 1}"
                       onFocus="invokeOSK(this);"
                       ng-click="eventHandler.onClickEvent(1,0);"
                       ng-mouseover="eventHandler.onMouseOverEvent(1,0);"
                />
            </div>
            <div class="current-loc-text" id="currentloctext">Current Location:<span class="current-loc-val" ng-show="addr!=''|| addr!=undefined">{{addr}}</span>
            </div>
        </div>
    </div>
    <!--Displaying right content of the screen-->
    <div class="right-content">
        <div id="drawing-area" class="drawing-area">
            <div class="list-item-container-div" id="list-item-container">
                <div class="list-item-longwrapper" id="list-item-longwrapper">

                    <div class="title2 locations-title4" ng-show="addr=='' && isError != true && productId==undefined">Enter Zip Code or Address</div>
                    <div class="title2 locations-title4" ng-show="addr=='' && isError != true && productId!=undefined">Enter Zip Code or Address</div>
                    <div class="title3 locations" ng-show="addr!='' && flag==0 && kiosks.length>0">All Locations</div>

                    <div class="title2 locations" ng-show="flag==1 && recentKiosks.length>0 && kiosks.length > 0 && isError != true">Suggested Locations</div>

                    <div class="title2 locations-title4" ng-show="(kiosks.length==0 && addr!='' && productId==undefined && dataLoaded != false) || (isError == true && dataLoaded != false)">We can't find any kiosks for the address you've entered.</div>
                    <div class="title2 locations-title4" ng-show="kiosks.length==0 && productId!='' && isError != true && productId!=undefined && addr!='' && dataLoaded != false">No Kiosks found for this title</div>

                    <div id="0_{{$index}}" ng-show="recentKiosks.length>0 && isError != true && kiosks.length > 0" class="list-item-div" ng-repeat="item in recentKiosks">
                        <div class="details-transperent-div" id="detailtrasnprentid_{{$index}}"></div>
                        <div class="title-img-div" id="0_{{$index}}">
                            <img ng-show="item.getStatus()=='Online'" ng-class="{'list-item-img-highlight': $index==currentIndex && CurrentLevelIndex == 3}"
                                 class="list-item-img" id="imgid_{{$index}}" ng-src="{{item.getStatus()=='Online' && 'images/map-image.png' || 'images/map-image-offline.png' }}">
                        </div>

                        <div  class="details-div" id="0_{{$index}}">
                            <div class="title5" id="titleid_{{$index}}"
                                 ng-class="{'title-div-highlight': $index==currentIndex && CurrentLevelIndex == 3}">{{item.getName()}}
                            </div>


                            <div class="address-info" id="addressid_{{$index}}">
                                {{item.getAddress1()}}{{item.getAddress2()}}
                            </div>
                            <div class="address-info" id="addressid_{{$index}}">{{item.getCity()}}
                                {{item.getState()}} {{item.getZipCode()}}
                            </div>

                        </div>

                        <input type="hidden" id="status_{{$index}}" value="{{item.getStatus()}}"/>
                        <input type="hidden" id="kiosk_name_{{$index}}" value="{{item.getName()}}"/>
                        <input type="hidden" id="address1_{{$index}}" value="{{item.getAddress1()}}"/>
                        <input type="hidden" id="address2_{{$index}}" value="{{item.getAddress2()}}"/>
                        <input type="hidden" id="state_{{$index}}" value="{{item.getState()}}"/>
                        <input type="hidden" id="city_{{$index}}" value="{{item.getCity()}}"/>
                        <input type="hidden" id="zipcode_{{$index}}" value="{{item.getZipCode()}}"/>
                        <input type="hidden" value="{{item.getKioskID()}}" id="kioskid_{{$index}}"/>
                        <input type="hidden" value="{{item.getLocation()}}" id="location_{{$index}}"/>

                        <div class="lrg-button" id="3_{{$index}}" ng-class="{'red': $index==currentIndex && CurrentLevelIndex == 3,'gr': $index!=currentIndex || CurrentLevelIndex == 1}"
                             ng-show="item.getStatus()=='Online'" ng-click="eventHandler.onClickEvent(3,$index);"  ng-mouseover="eventHandler.onMouseOverEvent(3,$index);">{{statusButton}}
                        </div>
                        <div class="lrg-button gr" id="3_{{$index}}_offline" ng-click="eventHandler.onClickEvent(3,$index);"  ng-mouseover="eventHandler.onMouseOverEvent(3,$index);"
                             ng-show="item.getStatus()=='Offline'">
                            OFFLINE
                        </div>
                    </div>
                </div>


                <div ng-show="addr!='' && flag==1 && kiosks.length>0" class="locations title2">All Locations</div>

                <div id="0_{{$index+recentKiosks.length}}" class="list-item-div" ng-repeat="item in kiosks" check-last>
                    <input type="hidden" id="status_{{$index+recentKiosks.length}}" value="{{item.getStatus()}}" />
                    <input type="hidden" id="kiosk_name_{{$index+recentKiosks.length}}" value="{{item.getName()}}"/>
                    <input type="hidden" id="address1_{{$index+recentKiosks.length}}" value="{{item.getAddress1()}}"/>
                    <input type="hidden" id="address2_{{$index+recentKiosks.length}}" value="{{item.getAddress2()}}"/>
                    <input type="hidden" id="state_{{$index+recentKiosks.length}}" value="{{item.getState()}}"/>
                    <input type="hidden" id="city_{{$index+recentKiosks.length}}" value="{{item.getCity()}}"/>
                    <input type="hidden" id="zipcode_{{$index+recentKiosks.length}}" value="{{item.getZipCode()}}"/>
                    <input type="hidden" value="{{item.getKioskID()}}" id="kioskid_{{$index+recentKiosks.length}}"/>

                    <div class="details-transperent-div" id="detailtrasnprentid_{{$index}}"></div>
                    <div class="title-img-div" id="0_{{$index+recentKiosks.length}}">
                        <img ng-class="{'list-item-img-highlight': $index+recentKiosks.length==currentIndex && CurrentLevelIndex == 3}"
                             class="list-item-img" id="imgid_{{$index+recentKiosks.length}}" ng-src="{{item.getStatus()=='Online' && 'images/map-image.png' || 'images/map-image-offline.png' }}">
                    </div>

                    <div class="details-div" id="0_{{$index+recentKiosks.length}}">
                        <div class="title5" id="titleid_{{$index+recentKiosks.length}}"
                             ng-class="{'title-div-highlight': $index+recentKiosks.length==currentIndex && CurrentLevelIndex == 3}">{{item.getName()}}
                        </div>
                        <div class="distance-div" id="distanceid_{{$index+recentKiosks.length}}">{{item.getDistance()}}
                            mi
                        </div>
                        <div class="address-info" id="addressid_{{$index+recentKiosks.length}}">
                            {{item.getAddress1()}}{{item.getAddress2()}}
                        </div>
                        <div class="address-info" id="addressid_{{$index+recentKiosks.length}}">{{item.getCity()}}
                            {{item.getState()}} {{item.getZipCode()}}
                        </div>

                    </div>


                    <div class="lrg-button" id="3_{{$index+recentKiosks.length}}"
                         ng-class="{'red': $index+recentKiosks.length==currentIndex && CurrentLevelIndex == 3,'gr': $index+recentKiosks.length != currentIndex || CurrentLevelIndex == 1}"
                         ng-show="item.getStatus()=='Online'" ng-click="eventHandler.onClickEvent(3,$index);"  ng-mouseover="eventHandler.onMouseOverEvent(3,$index+recentKiosks.length);">{{statusButton}}
                    </div>
                    <div class="lrg-button gr" id="3_{{$index+recentKiosks.length}}_offline" ng-click="eventHandler.onClickEvent(3,$index);"  ng-mouseover="eventHandler.onMouseOverEvent(3,$index+recentKiosks.length);"
                    	 ng-show="item.getStatus()=='Offline'">
                        OFFLINE
                    </div>
                </div>
            </div>
			<div class="bottom-grd"></div>
        </div>
    </div>
</div>