<div id="login-screen" class="main-welcome-screen">
    <div class="login-outer" id="login-container">
        <div ng-click="showPopUp()" ng-if="$root.autologinPopup" class="auto-login-popup" id="autoLoginPopup"></div>
        <div class="welcome-container">
            <div class="login-wlc-msg">{{"COLDSTART_AUTH_LABEL_WELCOME" | i18n}} {{productName}}</div>
            <div class="LoginNew-msg">{{"COLDSTART_MANAUTH_LABEL_LOGIN_INSTRUCTIONS" | i18n}}</div>
            <div class="login-formContainer" id="formLogin">

                <form id="login-wrapper" name="coldLogin" novalidate ng-submit="coldLogin.$valid && login()">
                    <div id="user-field" class="input-wrapper">
                        <span class="textBoxLabel">{{"COLDSTART_MANAUTH_LABEL_USERNAME" | i18n}}</span>
                        <input class = "textBoxActive"id="username" type="email" placeholder="e.g. janesmith@rogers.com" name="emailAddress"
                               ng-model='user.username' ng-minlength="5" ng-maxlength="105"
                               ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                               required>
                        <span ng-show="coldLogin.emailAddress.$error.pattern || (coldLogin.emailAddress.$error.required && coldLogin.emailAddress.$dirty)"
                              class="invalid"></span>
                        <span ng-show="coldLogin.emailAddress.$valid" class="valid"></span>
                    </div>
                    <div id="password-field" class="input-wrapper">
                        <span class="textBoxLabel">{{"COLDSTART_MANAUTH_LABEL_PASSWORD" | i18n}}</span>
                        <span class="forget-password textBoxLabel">{{"COLDSTART_MANAUTH_LINK_FORGOT_PASSWORD" | i18n}}</span>
                        <input class="textBoxActive" id="password" type="password" placeholder="**********" name="password" ng-minlength="4"
                               ng-maxlength="16" ng-model='user.password' required>
                    </div>
                    <div class="error-msg" ng-if="errorMsg">{{errorMsg}}</div>
                    <div class="input-wrapper">
                        <input id="login-Submit" type="submit" class="loginButton" value="{{'COLDSTART_MANAUTH_BUTTON_SIGN_IN' | i18n}}"/>
                    </div>
                </form>

                <div class="register">{{"FREEVIEW_LOG_IN_LABEL_DONT_HAVE_ACCOUNT" | i18n}}
                    <input id="join" type="submit" class="joinButton" value="{{'COLDSTART_MANAUTH_BUTTON_JOIN' | i18n}}"/>
                </div>
            </div>
        </div>
    </div>
</div>