<div rbikeyevent ng-controller="offlineCtrl" id="noData">
    <div  align="center" style="position: relative;color: #f0f1f1;font-size: 25px;">Sorry, the Redbox Instant by Verizon server isn't available right now.</div>
    <div  align="center" style="position: relative;color: #666666;font-size: 25px;">If you continue to have this problem, please visit our Help Center and select Contact Us.</div>
    <div align="center" style="position: relative;color: #666666;font-size: 25px;">Also please check your internet connection and try again.</div>
</div>