<div id="pwpopup" class="synop pop-up" ng-show="uiPWPopup">
    <div class="pop-up-content-ctn">
        <div class="pop-up-content-bg">
            <div class="pop-up-input-ctn">
                <div class='pw-restrict-title'>{{pwpopupTitle1}}</div>
                <div class="pw-enter-label">{{pwpopupTitle2}}</div>
                <div class="pw-details-block">
                     <div class="pw-enter-label">{{getUser}}</div>
                    <input ng-class="{'focused':focusIndex==0}" ng-model='userPassword' autofocus placeholder="password" onFocus="invokeOSK(this,true);"  type="password" id="password" ng-mouseover="eventHandler.pwPopupMouseOver('password');"/>
                        <div class="pw-input-help">
                            <div class="pw-pass-required" ng-show="pwPopupErrorMsg">{{passwordErrorMsg}}</div>
                        </div>
                 </div>
            </div>
            <div class="button-container align-left">
                <div ng-class="{'red':focusIndex==1,'gr':focusIndex!=1}" class="lrg-button" id="continue_1" ng-click="eventHandler.passwordSubmitClick();" ng-mouseover="eventHandler.pwPopupMouseOver('continue_1');">
                    Continue
                </div>
            </div>
            <div class='action-buttons center'>
				<div class="pop-up-btn-container">
					<div id="back-btn" class="bk-btn" ng-click="eventHandler.pwPopupHandleBackKey();" ng-mouseover="eventHandler.pwPopupMouseOver('back-btn');">
						<span class="icons cancel-small"></span><p>Cancel</p>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>