<div class="container-fluid row-container ">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-10" >
            <form class="form-horizontal" ng-submit="register(newUser)" autocomplete="off">
                  <div class="form-group">
                      <div class="col-sm-push-2 col-md-push-2
                                  col-lg-push-2 col-sm-10 col-md-10 col-lg-5" >
                          <span class="message">{{message}}</span>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-push-2 col-md-push-2 col-lg-push-2 col-sm-10 col-md-10 col-lg-5">
                          <p class="form-control-static">
                              (<span class="red">*</span>)These fields are required
                          </p>
                          <h3>MyRogers . Registration</h3>
                      </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 col-md-2 col-lg-2 control-label">
                        Email<span class="red">*</span>
                    </label>
                    <div class="col-sm-10 col-md-10 col-lg-5">
                      <input type="email"
                             class="form-control"
                             placeholder="e.g. janesmith@rogers.com"
                             ng-model="newUser.email" 
                             minlength="5" 
                             maxlength="105"
                             required />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">
                           Password<span class="red">*</span>
                    </label>
                    <div class="col-sm-10 col-md-10 col-lg-5">
                      <input type="password" 
                             class="form-control" 
                             placeholder="*************"
                             minlength="8" 
                             maxlength="16" 
                             ng-model="newUser.password"
                             pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                             title="Minimum 8 characters at least 1 Alphabet and 1 Number"
                             required />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">
                        Date Of Birth
                    </label>
                    <div class="col-sm-10 col-md-10 col-lg-5">
                        <datepicker date-format="dd, MMM yyyy">
                            <input type="text" 
                                   class="form-control"
                                   placeholder="Enter date of birth"
                                   ng-model="newUser.dateOfBirth" readonly/>
                        </datepicker>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">
                        Mobile Number<span class="red">*</span>
                    </label>
                    <div class="col-sm-10 col-md-10 col-lg-5">
                      <input type="text" 
                               class="form-control" 
                               placeholder="Enter mobile number"
                               minlength="10"
                               maxlength="10"
                               title="Mobile Number should be 10 digit"
                               ng-model="newUser.contact"
                               is-number
                               required />
                    </div>
                  </div>
                  <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-2">
                            <input type="submit" class="btn btn-danger form-control" value="Register"/>
                        </div>
                      <div class="login"><a ng-click=logingin()><span style="cursor:pointer">Return to login</span></a></div>
                  </div>
            </form>
        </div>
    </div> 
</div>
