<div class="container-fluid">
    <div class="row"><p class="bg-success"><b>Your shipping address</b></p>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >
            
            <address>
              <b>Email:</b>&nbsp;<a href="javascript:void(0);">{{email}}</a><br>
              <b>Street Address:</b>&nbsp;{{userDetails.address}}<br>
              <b>Country:</b>&nbsp;{{userDetails.country}}<br>
                <b>State:</b>&nbsp;{{userDetails.state}}<br>
              <b>City:</b>&nbsp;{{userDetails.city}}<br>
              <b>Mobile Number:</b>&nbsp;{{userDetails.contact}}
            </address>
            
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
            <a href="" ng-click="BackToShipping()">Back To Shipping Details</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="hidden-xs hidden-sm col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-success">
                <div class="panel panel-heading">
                    <strong>Cart Items</strong>&nbsp;({{totalCart}})
                    <span style="float:right;">
                        <b>{{'Sum_Total_Price' | translate}} : </b>&nbsp;{{sumTotal | currency}}
                    </span>
                </div>
                <div class="panel panel-body">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Price(per item)</th>
                                <th>Cart subtotal(Qty.*Price)</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="data in cartItemList">
                            <tr>
                                <td>{{data.productDetails.productName}}</td>
                                <td>{{data.productDetails.Quantity}}</td>
                                <td>{{data.productDetails.price | currency}}</td>
                                <td>{{data.productDetails.Quantity * data.productDetails.price | currency}}</td>
                            </tr>
                        </tbody>
                        <tbody class="table-lable">
                        <tr>
                            <td></td>
                            <th scope="row" ></th>
                            <th scope="row" class="table-td">{{'Sum_Total_Price' | translate}} : </th>
                            <th scope="row" >{{sumTotal | currency}}</th>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="hidden-md hidden-lg">
            <div class="panel panel-success">
                <div class="panel panel-heading">
                    <strong>Cart Items</strong>&nbsp;({{totalCart}})
                    <div>
                        <b>{{'Sum_Total_Price' | translate}} : </b>&nbsp;{{sumTotal | currency}}
                    </div>
                </div>
                <div class="panel panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12 panel panel-primary" ng-repeat="data in cartItemList" >
                        <dl class="dl-horizontal">
                            <dt>Item Name</dt>
                            <dd>{{data.productDetails.productName}}</dd>
                            <dt>Quantity</dt>
                            <dd>{{data.productDetails.Quantity}}</dd>
                            <dt>Price</dt>
                            <dd>{{data.productDetails.Quantity * data.productDetails.price | currency}}</dd>
                        </dl>
                    </div>
                </div>
                <hr>
                <input type="button" class="btn btn-danger btn-block active" 
                   role="button" ng-click="submitOrder()"
                   ng-disabled="disable" value="REVIEW & SUBMIT ORDER" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="hidden-xs hidden-sm visible-md visible-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="button" class="btn btn-danger btn-sm active" 
               role="button" ng-click="submitOrder()"
               ng-disabled="disable"
               style="float:right;"
               value="REVIEW & SUBMIT ORDER"/>
        </div>
    </div>
</div>