

<div id="subscription" rbikeyevent rbimousewheel>
	<div class="inner-container">
        <div id="review-subscription"  class="form-container">
            <div class="title1">Review your subscription.</div>
            <div ng-show="isFreeTrial"><p>You are about to sign up to a monthly subscription with first month free! With 4 DVD credits and a streaming library of hits, you'll have access to endless fun. Remember, you can cancel anytime before your billing date to avoid being charged $8 a month for a subscription.</p></div>
            <div ng-show="!isFreeTrial"><p>You are about to sign up to a monthly subscription! With {{creditDescription}}a streaming library of hits, you'll have access to endless fun.</p></div>
            <div class="content-block">
                <div class="content-block-left">
                    <p>Package Details:</p><span class="sub-detail">{{packageDetails}}</span>
                    <!-- Expired / Incomplete Card / Card Used for Free Trial -->
                    <ul class="error-contain">
                        <li ng-show="isExpired && !addNewCard"><span class="error-icon">!</span> The selected card has expired. Edit card to update.</li>
                        <li ng-show="isInvalid && !addNewCard"><span class="error-icon">!</span> The selected card does not have complete information. Edit card to update.</li>
                        <li ng-show="isFreeTrialUsed && !addNewCard"><span class="error-icon">!</span> The selected card has been used for a free trial. You cannot use it again.</li>
                    </ul>
                    <div class="clearAll">&nbsp;</div>
                    <p>Bill to: {{selectedCard.getLastFour()}}</p>
                    <div class="drop-up-ctn" ng-click="toggleCardVisble()" id="accountText" ng-mouseover="eventHandler.subscriptionMouseOverEvent(0)" >
                        <div  ng-switch on="addNewCard">
                            <div ng-switch-when="true">
                              Add Card
                            </div>
                            <div ng-switch-default>
                                Card Ending in {{selectedCard.getLastFour()}} <span ng-show="isExpired || isInvalid" class="card-subtext">(needs update)</span>
                                <span ng-show="isFreeTrialUsed" class="card-subtext">(Card Already Used)</span>
                            </div>
                        </div>
                        <div class="drop-divider">
                            <div class="icons dwn-arrow">
                            </div>
                        </div>
                        <div ng-show="billingCardVisble">
                            <div class="drp-up-ctnr" id="titlecheckout_changecard_ul">
                                <div class="drp-up-list" id="subscriptiont_changecard_list">
                                    <ol id="subscriptiont_changecard_ul">  
                                        <li class="add-title" ng-show="canAddCards" ng-click='addNewCard=true' id="subscriptiont_changecard_0">Add Card</li>
                                        <li ng-repeat="card in cards" ng-click="setSelectedCardAccount(card)" id="subscriptiont_changecard_{{$index + 1}}">
                                            <span ng-class="{'select-card':(card.getLastFour()==selectedCard.getLastFour())}"></span>
                                            Card Ending in {{card.getLastFour()}}
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="down-arrow">
                            </div>
                        </div>
                    </div>			
                </div>
                <div class="content-block-right">
                    <div class="rounded-content">
                        <p>Upon submission, your payment method will be stored and will become effective
immediately{{effectiveDate}}. All future Redbox Instant
by Verizon subscription charges will be billed to the card shown at left. Please carefully
read the Subscription Billing Agreement for this automatic payment option. By enrolling
in, using or paying for Redbox Instant by Verizon services by automatic payment,
you agree to these terms of service.<br><br></p>
<p>An email confirmation that provides the agreement will be sent to you for your records.</p>
                    </div>
                </div>
            </div>
            <div class="clearAll">&nbsp;</div>
            <div class="content-block agreement">
                <div class="content-block-left">
                    <input id="checkboxId" type="checkbox" class="checkbox-container" ng-mouseover="eventHandler.subscriptionMouseOverEvent(1)" ng-click="eventHandler.handleCheckbox()" ng-class="{'red':focusIndex==3,'gr':focusIndex!=3}">
                    <span class="checkbox-copy">I have read and agree with the Subscription Billing Agreement, and understand
and agree that checking this box acts as my electronic signature accepting the
Subscription Billing Agreement.</span>
                    <div class="icons focus-icon" id="bottom-arrow"></div>
                </div>				
                <div class="content-block-right">
                    <div id="confirmId" class="lrg-button gr" ng-mouseover="eventHandler.subscriptionMouseOverEvent(2)" ng-click="proceedToNextScreen()">
                        <span ng-hide="isExpired || isInvalid || isFreeTrialUsed || addNewCard">CONFIRM SUBSCRIPTION</span>
                        <span ng-show="(isExpired || isInvalid) && !addNewCard">UPDATE CARD</span>
                        <span ng-show="isFreeTrialUsed || addNewCard">ADD CARD</span>
                    </div>
                </div>					
            </div>
            <div class="clearAll">&nbsp;</div>
            <div class="bottom-btns">
                <div class="vz-pp-button" id="vzpp" ng-mouseover="eventHandler.subscriptionMouseOverEvent('vzpp')" ng-click="eventHandler.showSubscriptionBillingAgg()"><span class="icons control-triangle"></span> Subscription Billing Agreement</div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #menu-button-wrapper{display:none !important;}
        .bottom-btns{margin-bottom:0;}
    </style>
</div>
<div id="subscription-billing-popup" class="verizon-policy pop-up" ng-show="isSubscriptionBillingOpen">
    <div class="pop-up-content-ctn">
		<div class="pop-up-content-bg">
            <!-- Creating a separate common html template for Subscription Billing Agreement -->
            <ng-include src="'views/subscriptionBillingAgreement.html'"></ng-include>
            <!-- -->
			<div class='action-buttons'>
				<div class="pop-up-btn-container">
					<div id="acceptBtnR" class="btn-accept-ctn inline-block"  ng-click="eventHandler.subscriptionEnterKeyEvent();" ng-mouseover="eventHandler.subscriptionMouseOverEvent('acceptBtnR');">
						<div class="btn-label inline-block">OK</div>
						<button class="btn-accept inline-block"  type="submit" name="btnAccept" value="Accept">
							<div class="btn-accept-img"></div>
						</button>
					</div>
				</div>
			</div>
         </div>
    </div>
 </div>
