<div id="subscribe-no-free-trial" rbikeyevent="">
    <div class="inner-container">
        <div id="free-subscription-selection" class="form-container">
            <div class="inner-cont">
                <div id="title" class="title1">How about a subscription?</div>
                <img id="we_are_best" src="images/free-trial-box.png"/>
                <ul class="radio-div" id="multiple-buttons">
                    <li>
                        <input type="radio" ng-mouseover="eventHandler.subscribeNoFreeTrialMouseOverEvent(0);" value="true" id="dvdSubscription"
                               class="radio-highlight"/>
                        <span>Yes! I'd like 4 DVD credits every month plus the streaming library of hits</span>
                    </li>
                    <li class="multi-radio">
                        <input type="radio" ng-mouseover="eventHandler.subscribeNoFreeTrialMouseOverEvent(1);" value="false" id="bluraySubscription"/>
                        <span>Add Blu-ray&trade; ($9 total per month)</span>
                    </li>
                    <li class="multi-radio">
                        <input type="radio" ng-mouseover="eventHandler.subscribeNoFreeTrialMouseOverEvent(2);" value="false" id="streamingOnly"/>
                        <span>Streaming only ($6 total per month)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="specificback"
         ng-mouseover="eventHandler.subscribeNoFreeTrialMouseOverEvent('specificback');"
		ng-click="eventHandler.subscribeNoFreeTrialMouseClickEvent('specificback');" 
		class="specific-back">
        <span class="icons cancel-small-noshadow"></span>I just want to Sign In and look around
    </div>
</div>
<style type="text/css">
    #menu-button-wrapper, #back-button-wrapper {
        display: none !important;
    }
</style>
