<div class="title2">SUBSCRIPTION BILLING AGREEMENT </div>
<div id="redbox-content-text">
      <ol>
          <li><b>Auto-pay (AP) Enrollment</b>
              <ol>
                  <li>I understand that AP enrollment applies to the debit card or credit card account that I designate.</li>
                  <li>I understand that AP charges are billed in advance. Monthly subscription charges remain the same month over month, unless otherwise notified in advance by Redbox Instant by Verizon. I understand that taxes can vary month over month, and that changing my billing address could also change my tax rates.</li>
                  <li>Each month, I authorize Redbox Instant by Verizon to automatically:
                      <ol>
                          <li>Charge my payment card within three (3) days from the Bill Date.</li>
                      </ol>
                  </li>
                  <li>Contact us at www.redboxinstant.com/myAccount.html to cancel my service which will also cancel my AP. </li>
              </ol>
          </li>
          <li><b>Account Information</b>
              <ol>
                  <li>I understand that I will not receive notifications of monthly subscription charges, but that information will always be available at www.redboxinstant.com/myAccount.html. </li>
                  <li>I agree to keep my profile information, including my email address, updated at www.redboxinstant.com/myAccount.html.</li>
              </ol>
          </li>
          <li><b>Update Bank/Card Information </b>
              <ol>
                  <li>I understand that if there is a change to my payment card account information, including expiration date, I must sign in to my account at www.redboxinstant.com/myAccount.html to update the payment card enrollment information. </li>
                  <li>I understand that Redbox Instant by Verizon may receive updated card information from the financial institution issuing the card.</li>
              </ol>
          </li>
          <li><b>Billing Errors </b>
              <ol>
                  <li>I understand and agree that Redbox Instant by Verizon is not liable for erroneous account statements or incorrect debits/charges.</li>
                  <li>If a billing error occurs, Redbox Instant by Verizon is responsible for correcting, if and when, I notify Redbox Instant by Verizon of the error.</li>
              </ol>
          </li>
          <li><b>Returned Payments </b>
              <ol>
                  <li>I understand that if my payment is rejected, refused, returned, disputed, or reversed by my financial institution or card issuer for any reason, Redbox Instant by Verizon has the right to charge a returned item fee and to cancel my service and account from the AP option.</li>
                  <li>I understand my participation in AP is subject to Redbox Instant by Verizon's approval.</li>
                  <li>Redbox Instant by Verizon and participating financial institutions reserve the right to terminate my participation in this payment option at any time, as authorized by applicable law.</li>
              </ol>
          </li>
          <li><b>Fees </b>
              <ol>
                  <li>I understand that Redbox Instant by Verizon does not impose a fee for participating in the AP option.</li>
                  <li>I understand that I should verify with my financial institution to determine if additional charges apply.</li>
              </ol>
          </li>
      </ol>
  </div>