<div class="container-fluid">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel panel-heading"><strong>{{ 'THANK_YOU' |  translate}}</strong></div>
           
            <div class="panel panel-body">
                <p class="form-static">
                    {{'Order_number' | translate}} :&nbsp;&nbsp; <b>{{referenceNumber}}</b>&nbsp;&nbsp;
                </p>
                 <p>
                       <qr text="qrcodeString" 
                           type-number="typeNumber" 
                           correction-level="correctionLevel" 
                           size="size" 
                           input-mode="inputMode" 
                           image="image">
                     </qr>
                </p>
    
            </div>
        </div>
    </div>
    <div class="row hidden-xs hidden-sm visible-md visible-lg">
        <div class="panel panel-success">
            <div class="panel panel-heading">
                <strong>{{'Order_Table' | translate}}</strong>&nbsp;
                <span style="float:right;">
                    <b>{{'Sum_Total_Price' | translate}} : </b>&nbsp;{{sumTotal | currency}}
                </span>
            </div>
            <div class="panel panel-body">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#SL No.</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Price(per item)</th>
                            <th>Cart subtotal(Qty.*Price)</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="data in cartItemList">
                        <tr>
                            <td>{{data.productDetails.id}}</td>
                            <td>{{data.productDetails.productName}}</td>
                            <td>{{data.productDetails.Quantity}}</td>
                            <td>{{data.productDetails.price | currency}}</td>
                            <td>{{data.productDetails.Quantity * data.productDetails.price | currency}}</td>
                        </tr>
                    </tbody>
                    <tbody class="table-lable">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th scope="row" class="table-td">{{'Sum_Total_Price' | translate}} : </th>
                        <th scope="row" >{{sumTotal | currency}}</th>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row visible-xs visible-sm hidden-md hidden-lg">
        <div class="panel panel-success">
            <div class="panel panel-heading">
                <strong>Cart Items</strong>&nbsp;({{totalCart}})
                <div>
                    <b>{{'Sum_Total_Price' | translate}} : </b>&nbsp;{{sumTotal | currency}}
                </div>
            </div>
            <div class="panel panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12 panel panel-primary"
                     ng-repeat="data in cartItemList" >
                    <dl class="dl-horizontal">
                        <dt>Item Name</dt>
                        <dd>{{data.productDetails.productName}}</dd>
                        <dt>Quantity</dt>
                        <dd>{{data.productDetails.Quantity}}</dd>
                        <dt>Price</dt>
                        <dd>{{data.productDetails.Quantity * data.productDetails.price | currency}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
